[2013-03-25 14:05] DanielFerreiraJorge opened #1 "yas3fs as maildir?"
Hi, I came across yas3fs and have a question... maybe you could help me if it is not too much trouble!

Is yas3fs a suitable solution to be implemented as a DIRECT maildir storage? By direct I mean that it is not backup and IMAP should be able to access it as if it was a "regular" maildir.

What I'm trying to accomplish is something like that:
- Mirrored email servers
- Messages can arrive from an

[2013-03-26 16:24] #1 closed, assigned to nobody

[2013-08-30 19:11] bendemaree opened #2 "Creeping memory usage"
Hey, appreciate all the work on this library!

I'm seeing creeping memory usage when using this library; we start fine and over time (a day or two) eventually usage gets high enough that the system locks up and yas3fs needs to be killed and restarted. I've disabled the memory-based cache by setting the cache size to 0, but that hasn't seemed to resolve it. I'm serving a lot of small web assets.

A

[2013-10-07 19:32] chschs opened #4 "Under yas3fs S3 "directories" show up as files rather than folders."
I have a very large S3 bucket that includes many subdirectories and many files in those subdirectories. I'm having an issue where yas3fs displays a majority of those directories  as files so one cannot access the files included inside them. I'd be happy to get any debug information you need to fix this, but this is a big problem for us. I'm using the --no-metadata and --mkdir flag to see if it cha

[2013-10-09 21:02] #4 closed, assigned to danilop

[2013-10-23 19:58] MHolmes91 opened #5 "Updating mounted filesystem to reflect updates not made through yas3fs"
Is there a recommended way to do this that would not involve restarting yas3fs?

[2013-10-24 18:42] #5 closed, assigned to nobody

[2013-11-05 14:28] keeebs opened #6 "Production Use?"
Has yas3fs been used in production?

I'm in need of a shared filesystem with one write and multiple read nodes. The application requires local filesystem access to files, but I want them stored on s3 for long term centralized storage. I'm trying to avoid an nfs share as that would require ec2 and ebs backing. Ultimately I want to use the s3 bucket for a cdn. Files are mostly images and are rarely

[2013-11-15 16:07] #6 closed, assigned to danilop

[2013-11-15 20:25] keeebs opened #7 "Symbolic Links fail to create"
I cd to the yas3fs mount and issue the command
sudo ln -s /tmp tmp
ln: creating symbolic link `tmp': Bad address

I'm using sudo to ensure it's not a permissions problem. Same command works fine in any other directory but the yas3fs mount. ANy help is appreciated. ty

[2013-11-16 05:07] keeebs opened #8 "chgrp & chown permissions incorrectly set"
Once mounted, if I cd to the mount and issue the command:

chown user:user dir

Permissions are assigned correctly.

if I use the command
chgrp abc temp or chown abc temp

I see result similar to:

drwxr-xr-x 1   4294967295 xyz        4096 Nov 16 05:00 temp
drwxr-xr-x 1 xyz   4294967295 4096 Nov 16 05:00 temp

Any help is appreciated! TY

[2013-11-28 08:28] #2 closed, assigned to danilop

[2013-11-28 12:19] #7 closed, assigned to nobody

[2013-11-28 12:59] #8 closed, assigned to nobody

[2013-12-14 21:57] maxfierke opened #9 "Unable to view directory contents due to UnicodeEncodeError"
We're running yas3fs on a our production instances, and are unable to access a directory that we've been able to access in the past due to the below error:

[code]

We can `cd` into the directory but an attempt to `ls -la` the directory is met with this:

[code]

[2013-12-17 04:19] #9 closed, assigned to danilop

[2013-12-26 09:35] mwkorver opened #10 "Many S3 objects"
I have a bucket with about 30,000 files. When I first do an ls, I understand why it takes some time to actually list because S3 will only list 1000 objects/per request.  However once, I have listed them, then go on to do something like cat the file, the debug info shows a lot of activity even though the file is already in local cache.  Can you tell me what is going on and how I can optimize for wh

[2013-12-27 10:55] thorzh opened #11 "OpenVZ container support"
I want to run yas3fs in a OpenVZ container.  OpenVZ cannot load any modules locally,  so "fuse" module is supported via http://openvz.org/FUSE.

It appears that yas3fs requires the "fuse" module to be loaded locally though. Hence when running inside the container,  it returns the following error:

./yas3fs -h
Traceback (most recent call last):
  File "./yas3fs", line 45, in <module>
    from fuse

[2014-01-07 10:19] #11 closed, assigned to danilop

[2014-01-08 15:58] #10 closed, assigned to danilop

[2014-02-26 05:30] tluthra opened #12 "Music files not opening in iTunes"
I have an S3 Bucket of music files that I'm trying to open with iTunes, and unfortunately none of them are playing.

I can open the files perfectly fine with another player (VLC), so the issue doesn't seem to be on that end.  Does iTunes expect something different from the file that other players may not?  Is there a way to fix that?

[2014-02-26 22:04] #12 closed, assigned to danilop

[2014-03-25 22:30] tonnydourado opened #13 "Path is not created and file is not uploaded"
I just tried this on a EC2 instance with Ubuntu Precise (12.04), but it it's not working. I mounted the bucket just like the README says, but the path I passed was not created in the bucket, and none of the files I created in the folder were uploaded. No error message was issued, though. Am I doing something wrong?

[2014-03-25 22:40] #13 closed, assigned to nobody

[2014-03-26 02:55] tonnydourado opened #14 "SQS queues created with --new-queue are not being deleted when unmounting with fusermount -u"
The help says that the --new-queue parameter creates a queue that's deleted on umount, but this is not happening for me. The queues keep showing on the SQS panel, after either killing the process or unmounting with fusermount -u (which also terminates the process). Does it just take some time to then to disappear, like terminated EC2 instances, or there's something wrong here?

[2014-03-26 03:05] tonnydourado opened #15 "Setting file system size"
I was browsing through the code, and notice the [YAS3FS.statfs](https://github.com/danilop/yas3fs/blob/master/yas3fs/__init__.py#L2113) method, and saw that it just returns 1 PB every time.

I just happen to have a situation where I need to arbitrarily set a folders size limit, and being able to do that on a S3 backed one would basically itch all my itches.

So, would be to specific a feature to m

[2014-04-03 20:07] joelgriffiths opened #16 "Errors"
Is this something to be concerned about? I'm using 1.0.15 for now because the 2.x will require more retrofitting than I was prepared to do in the chef recipes.

2014-04-03 20:05:40,603 INFO entries, mem_size, disk_size, download_queue, prefetch_queue: 192, 0, 7334593, 0, 0
2014-04-03 20:05:44,103 ERROR [Errno 104] Connection reset by peer
Traceback (most recent call last):
  File "/opt/yas3fs/yas3

[2014-04-10 15:00] bitsofinfo opened #17 "large file issues?"
Hi,
Sort of puzzled by this.

a) created a 10mb, 100mb, and 1gb test files locally (i.e.) dd if=/dev/zero of=1000mb_file bs=1024 count=1024000 etc

b) mount my s3 bucket.

c) copy 10mb, 100mb files no problem into the bucket

d) when I copy the 1GB file, the cp command comes back as if it was successful, I see the 1gb file in the local yas3fs cache, directory, however the file is _never_ uploaded

[2014-04-11 14:23] bitsofinfo opened #18 "Cache behavior"
Noticed this behavior

(amended: note I just saw this issue, https://github.com/danilop/yas3fs/issues/5, which sort of confirms this, but I guess I'm asking about the possibility of adding fallback checks for the case of explicit requests for specific files)

a) Copy a file to a yas3fs mounted S3 bucket, named a.txt

b) rename that file via some other application, to b.txt

c) ln the mount point,

[2014-04-24 07:39] #16 closed, assigned to danilop

[2014-04-24 15:27] #17 closed, assigned to danilop

[2014-04-28 15:31] bitsofinfo opened #19 "yas3fs behavior when async background upload fails after 3 attempts"
Piggybacking on https://github.com/danilop/yas3fs/issues/17

You noted that ya3fs by default attempts 3 times to upload the file in the background after committing locally to the cache (and reporting to the writer/caller that the write succeeded).

However what is the behavior if the 3 retries fail? Does yas3fs delete the locally cached file?

If not, could the following options be exposed?

a) de

[2014-05-05 02:25] bitsofinfo opened #20 "Tool for testing yas3fs"
For anyone else that might find this useful, a tool for testing yas3fs

https://github.com/bitsofinfo/yas3fs-cluster-tester

[2014-05-14 16:01] ewah opened #21 "utime() should be utimens()"
from fuse.py
            ('utime', c_voidp),     # Deprecated, use utimens

should/could be:
    def utimens(self, path, times=None):
        return self.utime(path, times)

[2014-05-14 19:30] ewah opened #22 "modify containing directory mtime when file is created or deleted"
containing directory's mtime should be modified to now() when a file is created or deleted. note: directory's mtime should not be modified if a file simply is modified.

currently no actions are happening to the directory.

[2014-05-15 13:49] #21 closed, assigned to danilop

[2014-05-15 17:40] ewah opened #23 "timing issue in replacing files."
I am rsync'ing files from local to s3 (without queueing or listening)

it will unlink and remove local cache

[code]

create a new file (but fetch a key of not yet deleted file)

[code]

eventually delete it on s3

[code]

but then try to write the file w/ the previous key

[code]

[2014-05-20 09:49] #23 closed, assigned to danilop

[2014-05-30 19:11] joelgriffiths opened #25 "yas3fs - use the 'nonempty' mount option"
So I'm attempting to restart yas3fs, but it complains the directory is not empty. The fuse error recommends the 'noempty' flag but I'm not sure it can be set while using yas3fs. The non empty directory is what's left over after shutting down a prior release of yas3fs.

2014-05-30 19:05:35,621 INFO Version: 2.2.7
2014-05-30 19:05:35,621 INFO S3 bucket: 'redacted'
2014-05-30 19:05:35,622 INFO S3 pre

[2014-06-02 18:47] tonnydourado opened #26 "TypeError: cannot deepcopy this pattern object"
I have a yas3fs mount as my data directory on a Owncloud installation, on EC2 t1.micro instances. Every now and then, I get this error, when I try to log in on the Owncloud running in this intances:

[code]

It apparently happens when trying to read the file owncloud.log, as you can see form the logs I pasted above. Any process that tries to read this file or, I just noted this, any other txt file

[2014-06-06 15:54] ewah opened #27 "add more logging options"
add options size of logs files, number of log file backups, and backup compression options

[2014-06-16 13:20] thorzh opened #28 "SNS HTTP notifications help"
I'm trying to get SNS HTTP notifications to work, but run into problems.   I have included the errors below, replacing my ip address with aaa.bbb.ccc.ddd. yas3fs version 2.2.12.

Any pointers on what I may have missed?  Thanks.

root@localhost:/#  yas3fs s3://bucket /s3 --topic arn:aws:sns:us-east-1:631229848200:sns-test --hostname aaa.bbb.ccc.ddd --port 80 -df

2014-06-16 22:59:36,862 INFO Listen

[2014-06-25 12:50] bitsofinfo opened #30 "Document s3-recheck option"
Can this be added to the readme.md, site documentation as well explaining the behavior?

[2014-06-26 16:44] #26 closed, assigned to danilop

[2014-06-26 19:49] bitsofinfo opened #31 "pip upgrade from 2.2.12a to latest: error"
Was previously running 2.2.12a and did a pip upgrade and now have these errors on the upgrade, which and also the output from yas3fs --version after this upgrade failure

[code]

[code]

[2014-06-26 19:55] #31 closed, assigned to nobody

[2014-07-01 14:13] bitsofinfo opened #32 "Add support for S3 customer managed encryption keys"
Support should be added for customer provided S3 encryption keys

http://docs.aws.amazon.com/AmazonS3/latest/dev/ServerSideEncryptionCustomerKeys.html

[2014-07-01 14:17] bitsofinfo opened #33 "Add support for S3 AWS server-side encryption"
http://docs.aws.amazon.com/AmazonS3/latest/dev/SSEUsingRESTAPI.html

[2014-07-15 18:28] bitsofinfo opened #35 "Option to enable dynamic SQS queue names to contain hostname"
When running a large set of servers using yas3fs it would be helpful if an option existed that would force yas3fs to include some part of the system's hostname in the dynamic SQS queue that is created on startup to listen to the topic

[2014-07-28 23:02] jamshid opened #36 "Support python3 (NameError: name 'execfile' is not defined)"
Was getting the below error for "pip install yas3fs".
    NameError: name 'execfile' is not defined
Realized I was using python 3.3. Since (finally) python3 is getting more widespread, would be nice if yas3fs was compatible. In meantime, maybe a note on install page that python3 is not supported.

[2014-07-31 15:50] jstrunk opened #37 "Support standard mount -o option format"
It is possible to mount fuse filesystems from fstab.

For example:

[code]

This works by calling mount.fuse which in turn runs the program before the `#` sign in the following manner:

[code]

There doesn't appear to be a way to disable the addition of options, and yas3fs fails with the unknown options.

I wrote a wrapper that I am asking for permission from my client to submit to you, but I thin

[2014-08-29 21:35] #33 closed, assigned to nobody

[2014-08-29 21:35] #30 closed, assigned to nobody

[2014-09-03 15:16] danilop opened #38 "New Collaborators to speed up consolidation & releasing of new features"
It is clear that I cannot commit enough time to this project.
Is there anyone who want to be a Collaborator on this project and provide more active support to its development?

[2014-09-05 01:48] junewinter2013 opened #39 "symlink problem"
Is anyone else having problems reading symlinks on remote nodes ?

Operations on symlinks are OK on the local node (where I created the symlink), but yas3fs on all the remote nodes hang everytime I read them e.g. by running "ls" command.

The strange thing is: non-read operations (e.g. "rm" and "mv") on remote nodes are ok.

[2014-09-09 16:37] bitsofinfo opened #40 "new-queue-with-hostname prevents yas3fs startup if derived hostname results in SQS queue name that is too long"
new-queue-with-hostname prevents yas3fs startup if derived hostname results in SQS queue name that is too long

There must be a length limit to the size of SQS queue names. So if the local hostname is too long after the regex, yas3fs fails to start. Also the exception/error message thrown in the log is not helpful

[2014-09-10 16:42] bitsofinfo opened #41 "x-amz-server-side-encryption is not being sent on key.copy"
x-amz-server-side-encryption is not being sent on key.copy

[2014-09-18 22:18] bitsofinfo opened #42 "Index out of range error in process_message()"
This appears to occur when an 'upload' message arrives where there is no 'etag' and the code makes an assumption that element 3 of the array exists.

Possibly 'upload_to_s3' around line 2234 is not adding the etag (despite a comment indicating that it should....)

`pub = [ 'upload', path ] # Add Etag before publish`

2014-09-18 09:08:23,365 ERROR Uncaught Exception in Thread
Traceback (most recent

[2014-09-18 22:36] #35 closed, assigned to nobody

[2014-09-18 22:37] #27 closed, assigned to nobody

[2014-09-18 22:37] #20 closed, assigned to danilop

[2014-09-18 22:37] #18 closed, assigned to danilop

[2014-09-19 16:02] bitsofinfo opened #43 "Add support to return configurable st_blksize on getattr"
By returning a value for st_blksize on calls to getattr, one can potentially reduce the number of invocations of write that occur against FSData. (the max of this I guess could only be 131072 due to fuse's max_write ceiling). Whether or not it will have an effect on a "caller" (writer) is up to the caller, for example CP seems to increase its write block size when this is set, but some other progr

[2014-09-23 21:43] bitsofinfo opened #44 "Call for user experience information on write performance"
I'd be interested in getting some stats from users out there w/ regards to the write performance people are getting w/ yas3fs. In some of my tests throughput has been quite slow. (i.e. yas3fs writes to local cache first, then uploads) so the timing information I am looking for from folks is basically how long your program that writes to a yas3fs mount point takes for various sized files. I.E. with

[2014-09-24 02:25] #41 closed, assigned to nobody

[2014-09-24 02:25] #42 closed, assigned to nobody

[2014-09-24 02:25] #40 closed, assigned to ewah

[2014-09-24 02:25] #43 closed, assigned to nobody

[2014-09-24 19:31] bitsofinfo opened #46 "download_data() retry's forever when s3 returns 404"
This will repeat forever if a file really does not exist and cannot be downloaded

[code]

[2014-09-29 18:25] #25 closed, assigned to nobody

[2014-09-29 19:54] #46 closed, assigned to nobody

[2014-10-02 15:11] bitsofinfo opened #50 "read() fails due to download_data() failures can result in zero byte "files" in cache"
Under certain transient conditions where download_data fails to download files (due to network issues, 403's policy issues etc), these conditions will lead to a partially downloaded, or zero byte cache allocated file which ends up being invalid. Action should be to invalidate the cache entry and throw an EIO instead

[2014-10-02 15:49] keeebs opened #51 "Testing yas3fs mount and remounting"
Every now and again, my mount is "lost" or I get a read error and I have to unmount (maybe, if not already unmounted) and remount s3. Is there a script that exists to check and remount a yas3fs mount?

TY

[2014-10-12 15:22] bitsofinfo opened #52 "chown/chmod's invoked while new file being uploaded are ack'd and reflected in mem cache but never get to S3 and are lost after restart"
chown/chmod's invoked while new file being uploaded are ack'd and reflected in mem cache but never get to S3 and are lost after restart

For a given file where FSData 'change' is currently set = True, if a chown/chmod is invoked concurrently at this time, the chown/chmod() methods fetch the current metadata for the path, and if there is a difference proceed to alter the attr['varName'] reference,

[2014-10-12 16:25] #52 closed, assigned to nobody

[2014-10-12 16:39] #50 closed, assigned to bitsofinfo

[2014-10-13 14:24] keeebs opened #55 "ERROR S3 bucket not found"
I give up....

My S3 bucket is correct and exists
My yas3fs IAM user has r/w access to my s3 bucket, SQS, and SNS.

My same mount command works for other s3 buckets:

sudo -E yas3fs s3://xxx-com-yyy \
    /mnt/vhosts/xxx.com_yyy \
    --region us-east-1 \
    --topic arn:aws:sns:us-east-1:205821040441:yyy \
    --new-queue \
    --download-num=10 \
    --cache-on-disk=0 \
    --cache-mem-size=1 \

[2014-10-13 14:36] #55 closed, assigned to nobody

[2014-10-14 08:21] #39 closed, assigned to nobody

[2014-10-17 20:28] ewah opened #56 "support for unicoded file names"
encoding issues in lots of places.

I am able to create these objects via AWS S3 console.

[2014-10-21 11:51] icunningham opened #57 "SNS subscription"
Hi - First, may I say: Great work on yas3fs!
I have formed some policies to restrict IAM roles suitably so that yas3fs can only access the nominated SNS ARNs, and also used the yas3fs SQS naming convention to restricts its SQS access for specific mounts. It's not perfect, but I do try to restrict as much as possible.
In debugging, I notice that when unmounting, yas3fs sends an unsubscribe request

[2014-10-22 21:14] bitsofinfo opened #58 "Make "retries" configurable for all operations"
Currently this is hardwired to 3...

[2014-10-27 16:43] bitsofinfo opened #59 "Multipart upload retries can result in incorrect bytes sent in final file"
There are certain conditions where boto gets an low-level connection error that is thrown, causing yas3fs to attempt a retry of a given "part" for a multi-part upload. In these conditions the PartOfFSData's position (pos) is not reset to zero, resulting is the wrong number of bytes being sent on the next part upload retry.

[2014-10-31 15:00] bitsofinfo opened #61 "recovery plugin makes assumption that mounted bucketname is name of cache dir"
The name of the cache dir is different than the bucket name that is mounted

[code]

[2014-10-31 15:11] bitsofinfo opened #62 "'NoneType' object has no attribute 'get_contents_as_string'"
[code]

[2014-10-31 15:15] #56 closed, assigned to nobody

[2014-10-31 15:15] #58 closed, assigned to nobody

[2014-10-31 15:15] #59 closed, assigned to nobody

[2014-10-31 15:49] #61 closed, assigned to nobody

[2014-11-03 16:08] RGuilfoyle opened #64 "Poor read performance for large files"
I have a use-case that requires readonly access to large files (2-10Gb).  Updates to these are infrequent and these can be handled easily with YAS3FS.
However, I tested YAS3FS and found the read performance to be very poor when accessing large files.

e.g.
cp /mnt/yas3fs/large.img /media/ephemeral0/
takes 7m42s
while..
aws s3 cp s3://bucket/large.img /media/ephemeral0/
completes in 0m35s

I unders

[2014-11-04 20:55] bitsofinfo opened #65 "multiple writes to file, followed by 'rename' then more writes result in missing bytes, and orphaned file"
Start w/ a clean mount and clean local cache.  Run the command below

The size of the "renamed.txt" file should be 780288. This is not always the case.

It is always reflected in the cache as 780288 but on S3 sometimes it can be short bytes. (short the last write of bytes AFTER the file move).

Other times on S3 you will see the old test_pwc.txt orphaned and still on S3 (but appears gone locally o

[2014-11-04 21:46] bitsofinfo opened #66 "Various issues if bucket 'versioning' is enabled"
There are likely more issues related to this, but here is the first one noticed.
1. When a file move occurs (rename) there are occasions where the copy->delete routine that rename_on_s3 does where the "delete" silently fails because the key it is passing to boto has an older "version_id" attached to it (not the latest). So you end up w/ the local cache showing the file as not there, but the file d

[2014-11-04 21:48] #62 closed, assigned to nobody

[2014-11-04 21:51] #64 closed, assigned to nobody

[2014-11-06 23:17] ewah opened #68 "timing issue for rename."
giving short times between

[code]

should yield an ENOENT

file a.txt is resurrected.

---

this seems like it is because in

Yas3FS

[code]

FSCache logically self conflicts

[code]

So we need to figure out set a proper empty/deleted object. so subsequent get_keys can acknowledge that something is deleted w/o rechecking on s3.

We will also need to dec that for when object reappear.

[2014-11-07 18:35] EricByers opened #69 "No such file or directory (v2.2.9 regression)"
If a file is currently being read and a messages comes in to invalidate the file, reset all cache, etc.  The file will be put into a corrupt state and the file system will not know what to do with the file.

For instance for us, the file we are testing with is `changes.html`.

If on the yas3fs mount you run `for i in {1..10000}; do cat changes.html; done`, and then send a reset, upload message for

[2014-11-13 17:24] Srikarthik opened #70 "Recheck-s3 Option is not fetching New file/directory"
In our environment, content pushes are done directly to S3 Buckets. The buckets are mounted in a readonly mode using yas3fs on ec2 instances. We have enabled local caching for the yas3fs mountpoints.

As we require the content pushes to reflect on our moutpoints on the instance, we have configured the recheck-s3 and cache-check (30 secs) options. With these configurations, the mounpoints are not r

[2014-11-13 19:12] danilop opened #71 "Use the New Event Notifications for Amazon S3 to sync the local cache"
Any volunteer? :)

It think that it'll be awesome to use notifications coming straight from S3:

http://aws.amazon.com/blogs/aws/s3-event-notification/

Best,
dp

[2014-11-17 15:23] #68 closed, assigned to nobody

[2014-11-17 15:24] #66 closed, assigned to nobody

[2014-11-17 15:24] #65 closed, assigned to nobody

[2014-11-17 17:04] ewah opened #73 "yas3fs attr not returning"
c:/tmp/yas3fs-test/mnt/141117e/a/test_new_dir_a_00> attr -g yas3fs.url test_new_empty_file_a.txt
Attribute "yas3fs.url" had a 0 byte value for test_new_empty_file_a.txt:

the code is looking for "yas3fs.URL"

[code]

but the fuse wrapper looks for "user.yas3fs.URL"

[code]

true for the other self.yas3fs_xattrs as well.

[2014-11-27 14:17] marcomagno opened #76 "Problem subscribing to SNS topic ARN"
Hi Danilo,
we're having problems subscribing to our SNS ARN topic. We created a new topic in regione eu-west-1, configured its permission to "everyone" just to not have permission problems and then tried launching yas3fs.

The command we're using is:
/usr/local/bin/yas3fs s3://[bucket] [mountpoint] --region eu-west-1 --topic [arn topic] --new-queue --hostname [ec2_hostname] -df

but we always get:

[2014-12-03 11:45] danilop opened #77 "Add names / references / links to all collaborators in the README"
I think it would be fair to add names, references or links to bitsofinfo and ewah (whatever you prefer) in the README.

[2014-12-10 04:39] gianlucanigro opened #78 "[SOLVED] uncaught exception / folder not accessible in linux"
Hi,

in my logs I got a lot of this

2014-12-10 02:59:48,592 DEBUG Got 1 messages from SQS
2014-12-10 02:59:48,593 DEBUG process_message '["213ab7c6-9055-453e-9170-afcfc34a74e8", "upload", "/clienti/opportunity/IN/nominativi.xls"]'
2014-12-10 02:59:48,593 ERROR Uncaught Exception in Thread
Traceback (most recent call last):
  File "/usr/lib/python2.6/site-packages/yas3fs/__init__.py", line 2392, i

[2015-01-06 05:38] gianlucanigro commented on #78
Actually it was a timing problem... the file got unlinked quite fast and the other nodes received messages from the SNS topic in the wrong order, first the unlink and after the upload

Just adding a pause of a few seconds between the creation and the deletion of file solved the problem

[2015-01-06 05:38] #78 closed

[2015-02-06 16:19] shafqatevo opened #81 "is it possible to circumvent AWS Lambda limit of 512MB /tmp for larger S3 media files?"
Hi, we are considering using yas3fs from within Lambda to retrieve larger than 512 MB mp4 files from S3 but there is currently a limit of 512MB total file system space for all storage needs of the Lambda function. Is there any way to set parameters of the buffering and cache mechanism whereby ffmpeg can process the mp4 on the fly while reading and yas3fs can serve the larger-than-512MB file using

[2015-02-06 19:59] bitsofinfo commented on #81
At this point that capability is not built in, and would require some significant changes to make that kind of behavior possible.

[2015-02-08 04:39] shafqatevo commented on #81
If we completely disable the disk cache, would we be able to sequentially read an mp4 of 700MB start to end with a working memory of 1GB?

[2015-02-11 20:27] bitsofinfo commented on #81
At this point I would suggest you simply try the configuration you just mentioned (no disk cache) to see how it will behave and report back. I have not tried that particular scenario.

[2015-02-16 08:10] neilellis commented on #15
Just a +1 that is is actually a very useful feature - folder size limit, alas I don't have the appropriate skills to help on this. Just thought I'd show that others would like this too should it ever be possible :)

[2015-02-16 20:27] tonnydourado commented on #15
Unfortunately, I might never get around to help with this, since we might move in the direction of implementing direct access to S3, instead of using a fuse interface. =(

[2015-02-20 03:44] mcassaniti commented on #71
How do you suppose you will achieve this? I've just performed a basic test (setting an extended attribute) using an email subscription. The only interesting items within the message seem to be the eventName (ObjectCreated:Copy), the s3 object key, and the x-amz-request-id in the response elements. Note that S3 event notifications don't yet support object removed/deleted.

AFAIK the request ID is f

[2015-02-20 04:58] mcassaniti opened #82 "Size is shown as 0 bytes always"
When I perform an 'ls' on an yas3fs mounted file system, the file sizes returned by ls are all 0. I can confirm from debugging that the file sizes are being set (getattr has a non-zero st_size value set), but it is not showing on the system. I'm suspecting this is an issue with fusepy, but I could be wrong.

[2015-02-23 18:54] danilop commented on #71
You are right, without object delete notification it is not possible to use notifications. But notifications include the bucket and the key of the modified object (e.g. see http://docs.aws.amazon.com/AmazonS3/latest/dev/notification-content-structure.html ), so if / when that feature is available then this issue could be checked again.

[2015-02-25 20:50] robmoore commented on #76
We're seeing something similar here. Did you ever work out the issue was?

[2015-03-02 09:27] danilop commented on #76
I just did some tests with an SNS topic I already have and with a new topic I just created - both worked for me. Two things that are important when using SNS topics are:
1. you need to pass the full ARN of the topic to the --topic option, e.g. --topic arn:aws:sns:<region>:<account ID>:<topic name>
2. you need to specify the region of the SNS topic in the --region option
Can you please check that a

[2015-03-05 22:24] Jaykah commented on #37
Should we still use that script, or add yas3fs to rc.local?

[2015-03-05 22:35] Jaykah opened #83 "Question: yas3fs limitations when used in non-EC2 or hybrid scenarios"
Hi,

I am currently using "Azure Files" - an SMB-based solution to share files between a number of servers. Everything is working great, except I can only attach this storage to Azure servers (and they have to be in one region). Now, we have decided to expand our network to other VPS providers, such as AWS.

Looking for a solution that would allow us to share files between all of our servers (wher

[2015-03-06 10:36] danilop commented on #83
Hi,

yas3fs works outside of EC2, e.g. I often use it on my mac, you just need Internet access to AWS APIs (S3, SNS, SQS). Outside of EC2 you cannot use IAM roles for authentication and you need AWS credentials on the node, so I'd create a IAM user with the least privileges and use its credentials.

Please test your workload with yas3fs to check it is compatible with your requirement. And share yo

[2015-03-06 19:51] Jaykah commented on #83
Sure, will do! Thanks!

[2015-03-08 17:17] robmoore commented on #76
@danilop Thanks! Throught trial and error I was able to figure out the need for the fully qualified topic name. Also, I may have neglected the region assuming us-east-1 would be the default (very US-centric of me, I realize). It might be helpful to supplement the documentation with this info.

[2015-03-09 08:01] danilop commented on #76
I am happy you solved! The us-east-1 region is the default one, but the SNS
Topic ARN syntax requires the region to be part of it. I'll try to make it
more clear in the docs. Thanks fro your feedback!

On Sun, Mar 8, 2015 at 6:17 PM, Rob Moore <notifications@github.com> wrote:

[2015-03-09 08:02] danilop commented on #81
Closing the issue at this point, but I am ready to open it again if more info are required.

[2015-03-09 08:02] #81 closed

[2015-03-09 08:03] #76 closed

[2015-03-09 21:22] bradspry opened #84 "read 2048 and also "no range""
I've observed read calls happening in 2048k; is that an adjustable variable?

I've experimented with --st-blksize, but I believe it's only applicable to getattr() callers, just like the documentation says.

Also, noticed lines with each read call with "no range" appended:

2015-03-09 17:11:17,543 DEBUG read '/datastreamStore/1e/info%3Afedora%2Fmighty%3A1%2FMEDIUM%5FSIZE%2FMEDIUM%5FSIZE.0' '2048' '

[2015-03-09 21:52] bitsofinfo commented on #84
See https://github.com/danilop/yas3fs/issues/43

Its totally up to the calling program as to what block size it will read with

[2015-03-09 21:58] bradspry commented on #84
Thanks for pointing out #43; I had read it numerous times but I completely failed to grasp:

"Whether or not it will have an effect on a "caller" (writer) is up to the caller, for example CP seems to increase its write block size when this is set, but some other programs do not."

Please close this issue at your earliest convenience.

Thanks Again!

Brad

[2015-03-11 04:02] #84 closed

[2015-03-11 22:10] Jaykah commented on #83
Hi @danilop, one more question - is passing ENV variables the only way to supply credentials?

[2015-03-12 18:03] bitsofinfo commented on #83
Yes that is the only way, feel free to submit a PR to provider another method if you wish

[2015-03-17 00:42] Jaykah opened #85 "Folder disappears after upload"
Hi,

I am seeing some strange behavior when using the latest yas3fs. Everything seems to be mounting fine, but after I upload one file to the mounted directory, the directory itself disappears. However, I can still access the mount via console, and can create files and directories within. Nonetheless, those files/folders are not displayed locally via ls -l (they do appear in S3).

Here's an excerp

[2015-03-17 08:12] danilop commented on #85
There is no error in the logs? Which version of Linux / kernel are you using? Can you please check the file system used by the cache is not full?

[2015-03-17 09:30] trecloux opened #86 "Performance overhead for cached files ?"
Hi,

Thanks for this great piece of software :)

I'm trying yas3fs to deploy a php app on multiple machines, the php files are stores on s3 and mounted with yas3fs. Unfortunately, for the moment the performances are very poor.
Should I expect the performances for cached files to be close to a local file system ?
Here is my command line :  `yas3fs s3://.......  /mnt/www --topic ..... --new-queue --

[2015-03-17 18:49] danilop commented on #86
After the files are cached, in my experience performance are still a little
bit slower than a local file system, due to the FUSE emulation layer. It is
a long time than I am not using the prefetch command - not sure it is
working 100% as expected, maybe the cache needs to be pre-warmed by normal
use or a "find . | cat > /dev/null".

On Tue, Mar 17, 2015 at 10:30 AM, Thomas Recloux <notifications@g

[2015-03-19 14:00] alexg-eslevier opened #87 "How to update yas3fs inode table after "aws s3 sync" or "s3cmd sync""
Good day
thank you for yas3fs filesystem and your help
I am novice in yas3fs and performing tests on migration from EBS to S3
Our filesystem atop of S3 is yas3fs

I noticed that after running  "aws s3 sync" or "s3cmd sync" against S3 bucket
yas3fs does not recognize new/deleted files.
I can not unmount and remount yas3fs filesystem each time after running sync, it will be a life filesystem,

so I

[2015-03-19 14:04] bitsofinfo commented on #87
Files manipulated in the bucket outside of a yas3fs cluster will not "notify" yas3fs of any new items in S3. You will either have to

- stop yas3fs, clear cache, restart it

- or write your own code that will publish change messages to yas3fs sns topic, as your other application makes changes

If you mount it again, I'd be careful that both yas3fs processes use separate cache directories

[2015-03-19 14:30] alexg-eslevier commented on #87
Thank you so much for quick reply

May I ask what is the safest way to clear cache after stopping yas3fs?

[2015-03-19 15:12] bitsofinfo commented on #87
I generally just wipe the contents of the cache directory, i.e. just rm -rf it

[2015-03-19 15:18] alexg-eslevier commented on #87
Thank you very much!

[2015-03-19 15:30] #87 closed

[2015-03-19 15:32] bitsofinfo commented on #86
No matter what you do, FUSE filesystem performance will always be slower than native. Cached reads through FUSE will still be slower than native filesystem reads. It all boils down to FUSE's block size limitation

[2015-03-20 00:38] Jaykah commented on #85
You are right, the cache mount was indeed full. Thanks!

[2015-03-30 21:28] robmoore commented on #16
I'm seeing the connection reset by peer error that looks similar. Just curious if there's any retry logic in case of such a error.

[code]

[2015-03-30 21:34] bitsofinfo commented on #16
yes they should be retried, despite being logged, see options `s3_retries_sleep` and `download_retries_num`

[2015-03-30 23:03] robmoore commented on #16
@bitsofinfo Thanks!

[2015-03-31 15:13] bitsofinfo commented on #16
no problem

[2015-04-02 20:52] robmoore opened #88 "NoSuchKey issue stops FS syncing"
We are running yas3fs and ran into an instance where we deleted a file on one server and it never is deleted on the other server. Once this occurs, attempts to create new files in either node do not result in syncing. Looking at the logs, it appears that we are seeing a NoSuchKey response in S3 and then some errors about 'could not clear'. The SQS queues have messages that are stuck as well.

[cod

[2015-04-02 21:35] robmoore opened #89 "Intermittent partial files issue"
We are experiencing cases where files are uploaded to one of the nodes but something occurs during the upload to S3 so that we end up with a partial file. It's infrequent but occurs often enough that we will not be able to use yas3fs if we can't resolve it. The log files are clean and there's no indication of an error on the server the file is uploaded to initially.

We're using the default settin

[2015-04-03 00:22] Jaykah commented on #83
Sorry that I keep posting to a closed topic, but I think these questions belong here too:

1) For EC2 instances, do we subscribe our SQS queue to an appropriate SNS topic in AWS, or is it somehow handled by yas3fs at launch?

2) For non-AWS, I would assume we need to remove the --queue parameter and launch it with just the --topic and --port? And is --port not necessary for AWS endpoints?

[2015-04-03 16:40] robmoore opened #90 "Add documentation for nonempty flag"
It's in the output from yas3fs when running help but not present in the documentation.
[code]

[2015-04-03 16:47] #90 closed

[2015-04-07 00:01] robmoore commented on #89
I would appreciate any tips that might help track down the issue here. yas3fs works most of the time and we'd like to use it but this issue effectively blocks that from happening.

[2015-04-07 16:32] bitsofinfo commented on #89
How big is the file?

How big is your multipart split size set to?

Once written on a yas3fs node, does the file exist in its entirety in the local cache? (files are written locally before any s3 upload).

What do the logs state for this file specifically?

Do the other nodes logs show the receipt of an event for this file after a partial upload to S3?

If you try to retrieve the file from other n

[2015-04-07 18:08] robmoore commented on #89
@bitsofinfo Thanks for the response.

We are taking the defaults in terms of the split size and s3 retry parameters.

The files are 646 bytes.

I'm not sure this is the case for all instances but the situation I've seen most frequently is where the file is correct on the node the file was uploaded to but not in S3 and, resultingly, not on the other node (we are running in a 2-node cluster).

Unfor

[2015-04-07 19:26] bitsofinfo commented on #89
Ok so how many bytes of the 646 make it to S3.

Enable debug mode as well which will give more output as to what is going on, but quite verbose

[2015-04-07 21:06] ewah commented on #89
For debugging,

Check that the error still happens when yas3fs is still running on one (or two) threads.

This will make your logs much more readable (though still verbose) in debug mode.

[2015-04-07 21:20] Jaykah commented on #83
Bump

[2015-04-07 21:33] robmoore commented on #89
@ewah Thanks. Just so I'm clear, I'm running the service in debug mode using the -d flag. Regarding the threading, I'm running it in foreground mode (via a upstart script) and do not know how to alter the number of threads.

@bitsofinfo We've seen a variety of sizes from 100KB to 600KB (I just realized I said 600 bytes before when I meant KB).

[2015-04-07 22:10] Jaykah opened #91 "SNS Sync not working on Ubuntu"
Hi,

I have encountered a strange error when trying to get yas3fs to work in a non-AWS environment.

[code]

But the package is already installed:

[code]

Am I missing something?

[2015-04-07 22:29] Jaykah commented on #91
Further troubleshooting leads to the necessity to do

[code]

and then install M2Crypto again...

[code]

however, that leads us to

[code]

which looks like this bug https://github.com/saltstack/salt/issues/391

[2015-04-07 22:50] #86 closed

[2015-04-07 22:52] bitsofinfo commented on #89
Only run one instance per node and just enable debugging as you have, wait for an occurrence of this partial file issue, then include all relevant logs containing a reference to that file path here.

[2015-04-07 22:56] bitsofinfo commented on #83
Whether or not you configure yas3fs to use the SNS topic for broadcasting events, has nothing to do with where your instances lives. You can start yas3fs on ec2 nodes, azure nodes, your laptop, or your own vm's in your own data-center... etc. The SNS communication is just for yas3fs nodes to broadcast fs events to other yas3fs nodes (regardless of where they physically reside).

[2015-04-07 22:57] bitsofinfo commented on #82
Stop yas3fs, wipe the local yas3fs cache directory, restart it and do your ls again.

[2015-04-08 00:51] Jaykah commented on #91
And going with the default ubuntu python-m2crypto package brings us back to

[code]

[2015-04-08 13:41] bitsofinfo commented on #89
Also to clarify, regarding threads I think @ewah was just referring to trying to limit the number of calling threads (writers) to the yas3fs mount (i.e your calling application) to assist in limiting the amount of log activity that will be generated to make it easier to debug. Try to reproduce the scenario w/ less callers to yas3fs is basically the point

[2015-04-08 21:56] Jaykah commented on #91
I have tried manually patching M2Crypto to remove SSLv2, no avail.

https://github.com/martinpaljak/M2Crypto/commit/84977c532c2444c5487db57146d81bb68dd5431d here as well,

[2015-04-09 11:21] danilop commented on #91
I always preferred the SQS pull model (from the client environment) to SNS push for this kind of use case. Is there any blocker to not use SQS in this case? I implemented SNS push (via HTTP) when SQS didn't have long polling, but since it was released I never used SNS with yas3fs. What do you think?

[2015-04-09 11:23] danilop commented on #89
Please also check that the temporary file system used as cache is not full when this issue happens.

[2015-04-09 11:24] danilop commented on #82
Did that solve?

[2015-04-09 21:12] Jaykah commented on #91
Most of my nodes are non-AWS. Correct me if I'm wrong, but I thought I cannot use SQS for those endpoints.

[2015-04-09 21:28] bitsofinfo commented on #91
Whether or not you configure yas3fs to use the SNS topic for broadcasting events, has nothing to do with where your instances lives. You can start yas3fs on ec2 nodes, azure nodes, your laptop, or your own vm's in your own data-center... etc. The SNS communication is just for yas3fs nodes to broadcast fs events to other yas3fs nodes (regardless of where they physically reside).

[2015-04-09 22:03] Jaykah commented on #91
Thanks, will try it.

[2015-04-09 22:24] Jaykah commented on #91
I understand that, but am new to AWS and not quite sure of how the difference between SNS and SQS mechanisms would impact yas3fs config.

So, regardless of whether we are using SNS or SQS we will have to supply "--port", but in the case of an AWS endpoint we can use "--use-ec2-hostname" instead of "--hostname" (which is also needed for non-AWS)?

[2015-04-10 03:31] Jaykah commented on #91
Ok, so I think I got it working with --queue and --topic but without --hostname and --port. I assume those two are not necessary?

[2015-04-10 10:08] danilop commented on #91
Yes, great work! Those parameters are for SNS HTTP notifications only, not required if using SQS.

dp

[2015-04-10 14:29] robmoore commented on #89
@danilop Thanks for the tip. We are using a non-temp filesystem for caching and it has plenty of space.

@bitsofinfo I appreciate the clarification. I've been trying to reproduce the issue and not having success so I'm working with the QA engineer who originally came across the issue. One thing to note is that we were originally running the yas3fs script in the background and have changed to using

[2015-04-10 14:36] bitsofinfo commented on #89
There should not be any difference in running it in the foreground vs background (other than the obvious of not doing it on a screen and your session being disconnected)

[2015-04-10 15:43] Jaykah commented on #91
Thank you!

[2015-04-10 15:43] #91 closed

[2015-04-10 20:32] robmoore commented on #89
@bitsofinfo Thanks. Another difference between the initial script and the upstart script is that we are exporting the AWS creds instead of just defining the environment variables locally before running yas3fs. It occurred to me when creating the upstart script that if anything is launched in a separate process it wouldn't have access to the creds. I would expect this would result in an explicit er

[2015-04-13 17:58] Jaykah commented on #85
Started having the same issue again. Have checked the cache dir, all good there. Plenty of disk space.

Here's the log of me doing an ls there (after which all folder contents disappear):

[code]

Kernel
[code]

In addition, uploading something to one machine does not trigger an update on another, causing files to be out of sync.

That's how I'm running it:

[code]

[2015-04-20 15:11] Jaykah commented on #85
Are there any other troubleshooting steps I can take? The issue seems to be that we're not getting any  SQS messages from another node, whereas the local file changes are displayed in the debug...

[2015-04-20 16:01] Jaykah commented on #57
Has encountered this too, I think that's ought to be added to README.

Adding a blanket unsubscribe for the sns resource solves the issue.

{
            "Sid": "yourpolicysid",
            "Effect": "Allow",
            "Action": [
                "sns:Unsubscribe"
            ],
            "Resource": [
                "arn:aws:sns:us-east-1:12345678901234:*"
            ]
        },

[2015-05-04 15:04] #83 closed

[2015-05-07 21:04] cabhishek opened #92 "fuse: mount failed: Permission denied"
When I try to mount S3 folder in my container I get
```fuse: mount failed: Permission denied``` error.

As per https://github.com/docker/docker/issues/9448 adding ```--cap-add mknod --cap-add sys_admin --device=/dev/fuse``` should fix the issue but it doest with yas3fs.

But passing those flags work with [s3fs](https://github.com/s3fs-fuse/s3fs-fuse). What am I missing here ?

[2015-05-08 12:44] pearcec opened #93 "server side encryption policy enforced doesn't fail gracefully"
If policy enforces SSE ( like http://s3tools.org/kb/item11.htm SSE , yas3fs gets a 403.  The proper response should be a permission denied.  With $? set to 1

[2015-05-08 23:27] bitsofinfo commented on #93
Yas3fs is just reporting back the exact http status code AWS gives it back. Not sure what to fix. If you'd like to submit a PR feel free.

[2015-05-19 19:44] Jaykah commented on #85
So the issue still persists - once I upload any file to yas3fs folder on Server1, Server2 starts getting ENOENT when trying to refresh the content of the folder, causing no files to be displayed. This makes it completely unusable. Any pointers on how to debug this further will be much appreciated.

[code]

[2015-05-19 19:52] Jaykah commented on #85
Something weird is happening on file upload too that is causing folder to disappear immediately:

[code]

[2015-05-21 18:32] Jaykah commented on #85
bump

[2015-05-22 18:52] Jaykah commented on #85
Any additional debug options available? Have tried everything already...

[2015-05-26 17:52] Jaykah commented on #85
bump

[2015-05-26 21:22] bitsofinfo commented on #85
Hey Jaykah, sorry can't be of more help. Just have no time to work on this project right now. Perhaps @danilop may be able to help or you will just have to do some lower-level debugging on your own.

[2015-05-26 21:54] Jaykah commented on #85
Thanks for your reply, @bitsofinfo, I wish I knew how to enable lower-level debugging, since it is already being launched with the -df flag.

The issue seems to be that somehow messages never get into queue (I have tried monitoring it from the AWS side). The permissions on the queue have been set to allow all...

[2015-05-26 22:07] bitsofinfo commented on #85
Unfortunately by debugging I mean get into the code, reproduce the issue, and literally debug it w/ a debugger or old school prints.... we got deep into this project last summer fixing a lot of issues we found and unfortunately that is what is might take to figure out your issue.

[2015-05-27 00:15] prologic commented on #37
+1 Let's make this happen :)

[2015-05-28 07:26] Silex commented on #92
Same issue when trying to use `fuseiso foo.iso somedirectory` in a container.

[2015-06-02 17:09] Jaykah opened #95 "Cannot rename files in yas3fs mounts"
When trying to rename a file in yas3fs I get the following error:

[code]

I can successfully open the file, and it does exist in S3 with this being reflected on my client nodes.

[2015-06-03 04:36] dbdean opened #96 "How can the cache be disabled on yas3fs"
Is there some way to configure yas3fs so that it will always check with s3 before returning a file?

We are updating files on multiple nodes, and we are having trouble keeping them in sync. SNS doesn't seem to be helping.

Because we are typically only accessing files a few times, we would like to try and get by with no caching at all, but can't seem to get it to stop caching even with --cache-ent

[2015-06-25 19:13] cdenneen opened #97 "CentOS 7 cannot import name FUSE"
[code]

[2015-06-29 20:00] dpwrussell opened #98 "Slow read performance"
I have just been checking out yas3fs as I thought it might be useful in my application.

FYI: S3 and EC2 where I ran my tests are both in the same region.

The first test I did was to mount one of my buckets and then attempt to do an operation (sha1 in this case) on that file. The file was ~850MB in size and I was expecting there to be a delay on the first run because the file would need to be dow

[2015-06-29 20:04] bitsofinfo commented on #98
see #44, #64, #43

[2015-06-29 20:13] dpwrussell commented on #98
Ah, that's too bad. Thanks for the response.

[2015-06-29 20:13] #98 closed

[2015-07-07 18:38] pearcec commented on #70
I am running v2.3.2.  I am experiencing the issue.  I am not running read-only.  But I tested this by removing a file from s3 in the console.  It doesn't get removed with out a remount on the server.

[2015-07-07 19:13] pearcec commented on #71
I naively thought we were supposed to use the s3 notifications.  I was getting an error and realized why.  I am posting this error for reference in case someone else does the same.

[code]

[2015-07-27 17:43] davidkelley opened #99 "Directory not updating"
Hi, I'm on OS X and after following the getting started guide I have successfully mounted a directory and connected it to an existing S3 Bucket using the basic `yas3fs s3://bucket/path /path/to/mount --no-metadata` command. It has retrieved the contents of the bucket and the directory is populated.

However, the directory is not "updating" to reflect changes to the contents of the S3 bucket. As fi

[2015-07-28 10:15] danilop commented on #99
Hi David, this is the correct behavior.

Yas3fs was designed to cache everything locally, before S3 notifications,
so it is sending/receiving its own notifications when somethings has
changed through the file system - but this notifications are produced by
nodes using yas3fs, not by S3 itself.

Now S3 can send events for changes, but only for new/updated objects, not
for deletions. If someone volu

[2015-07-29 00:14] reversefold opened #100 "TypeError: 'NoneType' object has no attribute '__getitem__'"
I've been getting lots of these errors when doing an elasticsearch delta snapshot across 35 nodes. I'm not sure if this is causing any issues but it is worrying. I didn't see these errors at all when doing the initial snapshot, which write many gigabytes of files. Is there an issue with listing or reading existing files? Should I be worried about data loss or corruption?

[code]

[2015-07-29 10:34] davidkelley commented on #99
Hi @danilop , thanks for getting back to me. I'll take a look at the code and see if I can figure it out.

It also looks like AWS have implemented support for [Delete notifications](https://aws.amazon.com/blogs/aws/amazon-s3-update-delete-notifications-better-filters-bucket-metrics/) now too.

[2015-07-29 10:35] danilop commented on #99
Yes! Delete notifications was announced yesterday, just after my comment :)

On Wed, Jul 29, 2015 at 12:34 PM, David Kelley <notifications@github.com>
wrote:

[2015-07-29 17:28] reversefold commented on #100
It turns out that this does affect my snapshots, any incremental snapshot fails to finish, so I'm going to have to not use yas3fs for this. :(

[2015-07-31 16:50] padde opened #101 "Add option to use AWS Signature Version 4/support for new AWS locations"
Newer AWS locations (in my case Frankfurt) will only authenticate clients that use AWS Signature Version 4. It would be nice to have it as an option, because these newer locations are unusable otherwise. SigV4 seems to require an explicit S3 host parameter so this would have to be added as a command line option, too. My suggestion is to introduce a `--s3-host` flag. If set, SigV4 should automatica

[2015-07-31 23:10] padde opened #103 "Client Side Encryption"
Would be really nice to have that as well as an additional security layer for the paranoid. Any plans in this direction?

[2015-08-02 15:52] danilop commented on #71
Now delete notifications from S3 are available, what should we do? Replace the previous "node-generated" notification system with the native S3 one, or keep both, letting the user decide which to use with different startup parameters?

[2015-08-02 15:53] danilop commented on #103
That is good suggestion, I have currently no plans, but any volunteer is welcome :)

[2015-08-02 15:55] danilop commented on #101
I never tested yas3fs with Frankfurt, but I know of the SigV4 requirement. If you implement what you described. that would be awesome!

[2015-08-02 15:57] danilop commented on #100
Sorry to hear that, maybe the issue is that for every update, yas3fs has to upload the whole file again to S3. If there are large files with incremental writes, that can be a not easy workload to manage.

[2015-08-02 15:57] #99 closed

[2015-08-02 16:01] danilop commented on #97
Hi, just to be sure: did you install FUSE at OS level and fusepy for Python?
I mean:
yum install fuse
pip install -U fusepy

[2015-08-02 16:05] danilop commented on #96
Unless the updates happen very often, SNS + SQS should be able to handle cache invalidations, is that not your case?
Using --cache-entries 0, --cache-mem-size 0, *and* --cache-disk-size 0 together should disable the cache, is that not what you found?

[2015-08-02 16:06] danilop commented on #92
Never played with yas3fs and docker... Did you try with a more recent version of both?

[2015-08-02 17:52] padde commented on #101
Thanks for your comments. I've already created a PR, it would be great if you could take a look!

[2015-08-02 18:34] padde commented on #101
Note that I called the flag `--s3-endpoint` instead of `--s3-host` because that's the nomenclature that Amazon use in their docs: http://docs.aws.amazon.com/general/latest/gr/rande.html

[2015-08-03 01:48] mcassaniti commented on #71
At a minimum we should build the code, test how it performs compared to the current process and go from there. Since changing the way ya3fs get notified about s3 object changes is essentially an API change, making s3 direct notifications the __only__ option would require a major version change. If you make it the default alongside the SNS messages, then that isn't quite so bad.

AFAIK you need a d

[2015-08-04 00:40] dbdean commented on #96
We've moved away from S3 for this application because we couldn't get it to function as a pseudo-file system reliably enough for our needs, so I can no longer test this directly, sorry.

However, it is quite likely we didn't get SNS+SQS set up correctly, and we acessed files rather quickly after they were created on different machines, and rarely accessed files repeatedly afterwards so would have

[2015-08-26 20:22] rjbrown57 opened #104 "files uploaded to yas3fs in staying in cache"
How are new files copied to a yas3fs mounted bucket cleaned out of the cache? I see that files are moved into /tmp/yas3fs/bucketname/files/ and then I assume moved to s3. But will that file ever be cleaned up? Is there a way to force yas3fs to clean up uploads that have finished?

[2015-08-27 07:41] danilop commented on #104
Yas3fs is caching locally all files, including those uploaded to S3. But
when the local cache outgrows the maximum allowed size (a startup
parameter), the least recently used (and not currently open) files are
purged and removed.

On Wed, Aug 26, 2015 at 10:22 PM, rjbrown57 <notifications@github.com>
wrote:

[2015-08-27 17:06] rjbrown57 commented on #104
I've been running a few tests and it looks like with uploads the  --cache-disk-size setting is ignored. If my cache space is at 1.2 gigs out of a total of 2.0g and and yas3fs is mounted with  --cache-disk-size 1536mb and then I move in a file that is 1.2g. I was expecting a previous upload of the same 1.2g file with a different name would get wiped out to make room for the new one. It does not, th

[2015-08-27 17:24] danilop commented on #104
The check to purge files from the cache happens every few seconds and the
is triggered when you go above the threshold, in that case maybe you are ok
with the first file, the second would go above but there is no space to
complete the copy. You may put a smaller threshold - so that the first file
is purged immediately - or you need more space. The algorithm works best
with (a lot of) small files.

[2015-09-06 17:17] #101 closed

[2015-09-09 10:05] derchrisuk commented on #97
And as a reminder, if you have fuse-python installed from the OS repo, it needs to be removed.
Otherwise it will not work.

[2015-09-16 09:33] vm2018 opened #106 "China Region is not support yet?"

[2015-09-23 10:40] gpiccinni commented on #56
Hi,
I've noticed that when using encoding_type='url' in s3 bucket list, boto does not return the list of all keys.
More precisely it stops at the first key which is not url encoded.
This causes yas3fs to do not list all files in a directory.

To run some tests you can create a file on s3 with symbol ° (degree sign) in the name and you try to list keys using boto, it won't return the file ( and all

[2015-09-25 02:59] rusterholz commented on #89
@robmoore Out of curiosity was this ever solved?

[2015-09-25 18:20] Jaykah opened #107 "ERROR Uncaught Exception in Thread"
Recently I started getting the following error when running yas3fs in debug:
[code]

Can anyone shed any light as to why this might be happening?

[2015-09-25 21:08] Jaykah commented on #88
Were you ever able to figure it out? We are experiencing the same issue.

#107

[2015-09-27 17:10] robmoore commented on #89
@rusterholz We were able to get past this but unfortunately I can't recall what steps we took. I no longer work at the company I was at when I ran into this so I no longer have access to the environment. Sorry I couldn't be helpful here.

[2015-09-28 18:05] Jaykah commented on #107
Update:

On another node the error is a bit different:

[code]

I also tried upgrading to Python 2.7.10 as well as downgrading to 2.6.2, neither helped.

[2015-09-29 21:57] Jaykah commented on #107
So it looks like the message arrives (in unicode), but then the json is not getting parsed properly

This is the string (obfuscated):
[code]

but then we get:

[code]

Does that look like an issue with json.loads()?

[2015-09-29 22:09] Jaykah commented on #107
Ok, it looks like it's not able to grab 'Message' from the dictionary:

[code]

returns

[code]

[2015-10-01 08:34] danilop commented on #107
Did you enable S3 Event notification on the Bucket? YAS3FS was designed before that functionality was available and generates its own events publishing to SNS from the nodes.

[2015-10-01 16:17] Jaykah commented on #107
@danilop I experimented with a variety of settings, but disabling bucket notifications did not help, unfortunately.

[2015-10-08 09:05] fdutheil commented on #37
I don't know what solution implies more work than the other, but I would definitely prefer to get a standard fstab up than a custom configuration file with its own syntax along with enabling a init script. Even better: fstab will work on every Linux distribution. Not the case of an init script.
If there is no need to reinvent the wheel, I'm all for it ;)

[2015-10-08 13:00] fdutheil commented on #97
Thanks to your help, here is the procedure to get yas2fs working on RHEL/CentOS (tested on 6.x):
[code]

[2015-10-09 10:31] dbolotin opened #109 "Cache parts of files instead of full files"
I am tying to adopt yas3fs for processing of large files chunk-by-chunk in parallel on several nodes.
Each instance reads only a part of the file, producing result intended for further aggregation elsewhere. Kind of map-reduce. The software I use was developed by other guys (namely NCBI), and unfortunately can read data only from files on disk. It is impossible to rewrite it to access data directl

[2015-11-01 17:41] sja87 opened #110 "eu-central-1 not supportet?"
With region eu-central-1 I have the following error:

ERROR S3 bucket not found:S3ResponseError: 400 Bad Request

[2015-11-03 00:31] sja87 opened #111 "Synch more then one instance with yas3fs"
yas3fs works fine for me, when I use only one instance.

If I would synch more then one instance I need to work with SNS right?

I do the following:
1) create S3 in Ireland (eu-west-1)
2) create new SNS Topic in Ireland and set SNS Topic permissions to everyone
3) yas3fs --nonempty s3://[bucket] [mountpoint] --region eu-west-1 --topic [FULL TOPIC ARN] --new-queue

My problem:
ERROR SNS topic ARN n

[2015-11-13 21:48] bradspry commented on #104
@danilop

I concur with @rjbrown57.   --cache-disk-size is ignored when set, and even when unset (default is 1024 MB).  Set value or default value is absolutely not respected.   Cache would have completely filled drive if I would not have stopped it; it filled to 20GB even with a 1024 MB configuration limit set.

--cache-entries is also not respected.   I lowered the value to 100, but the cache co

[2015-11-18 13:07] krzysztofantczak commented on #110
+1

[2015-11-22 19:59] grikdotnet opened #112 "--cache-on-disk option prevents file data to be uploaded"
Hi, I am mounting a bucket with a command
[code]
If I copy any non-empty file to the mounted folder, I get an error
[code]
The files are created in a bucket, but they are empty.

The debug mode log shows errors:
[code]

The full log is here: http://pastebin.com/aNkUXpjd

[2015-11-22 20:19] grikdotnet commented on #112
when the FS is unmounted the error is
[code]

[2015-11-26 04:45] voundaries commented on #104
I second both ,  --cache-entries & --cache-disk-size  are being ignored.  Any thoughts?

[2015-11-26 04:59] voundaries commented on #96
Tried using --cache-entries 0, --cache-mem-size 0, and --cache-disk-size 0 all together without luck.

Files are still being appearing in /tmp/yas3fs/

It seems that the only way is by unmounting , deleting the tmp folder and mounting again. Not practical or even feasible on prod systems.

We are using a single node.  No cluster.

Kindly test or provide an alternative.

[2015-11-26 05:44] voundaries opened #113 "Failed to link : Read-only file system"
Why if yas3fs is not mounted as read only, still cannot make any links ?

[2015-12-06 02:18] mignev opened #115 "Python 3 support"
Hello guys. Awesome tool. I hit some problems with UTF-8 filenames in mountpoints. I saw in fusepy this issue is fixed with python 3 support.

Any plans for Python 3 support soon?

[2015-12-15 01:40] dougbyrne commented on #112
I'm sorry to post just a 'me too' but I'm seeing the same issue with the same log entries. I'm removing the parameter as a workaround for now.

[2015-12-28 15:56] bsingr commented on #110
Some regions like eu-central-1 have different requirements. The solution is you use the S3 SigV4 API which is supported in the master-branch but not in the latest release 2.3.2.

Install like so:

    sudo pip install git+https://github.com/danilop/yas3fs.git@master

Then use it like so:

    yas3fs -d --s3-use-sigv4 --s3-endpoint s3.eu-central-1.amazonaws.com --region eu-central-1 s3://your-bucke

[2015-12-28 15:56] bsingr commented on #110
So at least for me, this is not an issue anymore.

[2016-01-01 02:28] bdurrow commented on #19
We use yas3fs to archive files by taring them up onto the mounted filesystem and if that succeeds we remove the files.  With the current behavior data loss is very likely if we lose write access to the bucket or never had it).  I think there are a few opportunities for improvement.  1) Mark files in the cache (perhaps use a different directory in the cache) for pending writes then move them to the

[2016-01-11 22:10] pierreact commented on #115
+1 I'm interested too.

[2016-02-18 14:51] ollietreend opened #118 "Use 'public-read' ACL on new objects?"
Hi,

How can I get `yas3fs` to use the 'public-read' canned ACL when creating new objects?

I would like all files created by `yas3fs` to be publicly accessible. I believe this ACL should do that.

Looking at the options for `s3fs`, I notice that there's an option `--default_acl` which allows you to choose the ACL that is applied to newly created (as well as updated) objects.

Is there something s

[2016-02-19 09:52] ollietreend commented on #118
I've found a way around this through use of an S3 'bucket policy'. This sets a rule in the bucket to add the `public-read` canned ACL on objects, and thus makes object URLs publicly accessible.

Here's the bucket policy I've used to achieve this:

[code]

In this example, all objects inside the `uploads` directory of the bucket called `mybucketname` are public.

-----

That aside, I would still be

[2016-03-05 00:11] eestrada commented on #113
@voundaries If you are talking about hard links, I think the reason is because object storage doesn't support them. In a regular file system, directory entries are just pointers to inodes in the file system. The inodes are where the actual data resides. The inodes keep a reference count of how many file entries point to them. Once that reference count hits zero, the inode is forgotten and is avail

[2016-03-05 00:21] eestrada commented on #115
+1

Python 2 is rapidly approaching official EOL. Is there a list of what needs to be done to accomplish this? I am happy to contribute changes to make it happen.

[2016-03-05 00:26] eestrada commented on #36
@danilop I just commented on issue #115 regarding this. I am happy to invest time in this. Is there some idea as to what is required, or will I need to dig around and find the incompatibilities myself? That is fine if I do need to, I just don't want to duplicate work if it has already been done.

[2016-03-09 08:19] lsorber commented on #115
+1

[2016-03-09 09:04] KasperMadsen commented on #112
I am also seeing this :)

[2016-03-10 06:58] lordtangent opened #119 "Google Cloud Storage Support"
I was hoping to user yas3fs with Google Cloud Storage. I've had luck with other s3 mounter tools I have tested due to the s3 compatibility mode on GCS.

But I was disappointed to find that yas3fs enforces syntax that makes it impossible to get it to mount buckets from https://storage.googleapis.com/ (rather than s3://)

Would it be possible to add an argument for explicitly setting the url prefix

[2016-03-10 09:34] lordtangent commented on #119
So, I did a quick proof of concept and I was able to mount GCS. But my updates are not perfect. I can't list directories properly. Here is a link to my hack. Any pointers to getting directory listing working would be appreciated.

[https://github.com/lordtangent/yas3fs/commit/ea264449d05c8c06263db8d9613e3293297ea6a2](https://github.com/lordtangent/yas3fs/commit/ea264449d05c8c06263db8d9613e3293297e

[2016-03-10 11:08] KasperMadsen opened #120 "No such file or directory"
Hi,
First of all thanks for yas3fs, it is great!

I just wanted to report on some observed behaviour. If I SSH into an EC2 instance, and change directory to a yas3fs mounted one, and then manually fire the ["all", "reset"], I will get an error when trying to access the shared directory afterwards. I get: cannot access s3-shared: No such file or directory

If I am not in the directory when sending

[2016-03-22 18:35] FrenchBen opened #121 "SSL: CERTIFICATE_VERIFY_FAILED"
Every time I try to use yas3fs I get the following error after a few seconds of it being up:
`ERROR Uncaught Exception: <class 'ssl.SSLError'> [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:581) <traceback object at 0x7f9648bf4d88>`

The `/tmp/yas3fs/<bucket>` is never created or available.
`yas3fs 2.3.2`
`Python 2.7.9`
Command called:
`yas3fs s3://my-aws-bucket/ /mnt`

[2016-03-22 18:37] FrenchBen commented on #121
Possibly related to: https://github.com/aws/aws-cli/issues/1499

[2016-03-23 12:53] trailway opened #122 "Lambda"
Have you considered using lambda to rapidly copy files from S3 to EBS?

[2016-03-23 13:27] mwkorver commented on #122
Did you mean to say lambda to EC2?

[2016-03-23 15:10] trailway commented on #122
I have been thinking of a system which caches S3 data in high performance storage which can be accessed as a file system from any number of EC2 instances.

Key elements:
- Use Lambda instances to perform any work required, e.g. synchronization.
- Store the data in EFS (still in preview).
  - EFS is designed to support high scalability and does not require you to create EC2 instances to serve the d

[2016-03-30 01:24] pstoll opened #123 "Refactor code from __init__.py"
YAS3FS is an impressive piece of work so I hate to suggest something that might come across as something less than praise but... having almost the entire codebase inside a 3k line __init__.py file seems a little ... unusual.

Have you given any thought to breaking that out into separate files? Would you be open to folks working on something like that?

[2016-03-30 12:34] danilop commented on #123
Hi Perry,

I think you're right and it is due to poor planning on my side.

The project started as a proof of concept to test the advantages of caching
compared to the more traditional s3fs approach.

Then I kept it as a single file to make it easier to share with a single
link, but since it was packaged to be distributed via pip that doesn't make
sense anymore.

I have no time to invest on this p

[2016-04-05 16:02] mghughes opened #124 "New version on PyPI?"
Any chance of releasing a new version on PyPI soon?

On 2.3.2 (latest version on PyPI) we ran into an issue with cache purging (#104), which has been fixed on master by PR #116. It would be great to be able to install a version with this fix from PyPI :)

Thanks

[2016-04-14 19:46] unv-annihilator commented on #124
+1, Working with version 2.3.2 from PIP and hitting the cache bug that has been fixed.

[2016-04-16 20:40] jphughes opened #125 "Unable to install on 10.11.5 Beta (15F18b)"
On installing I get a fatal error. I am running

Collecting yas3fs
  Downloading yas3fs-2.3.2.tar.gz
Collecting setuptools>=2.2 (from yas3fs)
  Downloading setuptools-20.9.0-py2.py3-none-any.whl (508kB)
    100% |████████████████████████████████| 512kB 2.7MB/s
Collecting boto>=2.25.0 (from yas3fs)
  Downloading boto-2.39.0-py2.py3-none-any.whl (1.3MB)
    100% |████████████████████████████████| 1.

[2016-04-17 09:40] danilop commented on #125
Thanks for reaching out. It seems an error in the local Python
installation. However, I am going to build an updated bundle for pip
anytime soon and I'll do some more tests to be sure that all dependencies
work.

On Sat, Apr 16, 2016 at 10:40 PM, James Hughes <notifications@github.com>
wrote:

[2016-04-17 16:04] jphughes commented on #125
Seems like a permissions problem, but I am not a Python programmer. To my knowledge, this is a vanilla OS X installation, so I guess I will not be the last to have this problem. Thanks.

[2016-04-19 15:16] lbadger commented on #37
+1 Any progress on this enhancement?

[2016-04-22 00:43] jphughes commented on #125
Seems like this is related to System Integrity Protection (SIP) which must be disabled. Nothing to do with the local Python installation. I followed the [steps at Stack exchange](http://apple.stackexchange.com/questions/208478/how-do-i-disable-system-integrity-protection-sip-aka-rootless-on-os-x-10-11) and it installs now.

[2016-05-05 18:17] matthewlehew opened #126 "Can multiple mounts occur on one node?"
For example, on a server where multiple virtual hosts need to mount different paths in the same S3 bucket? In this scenario, the messaging aspect wouldn't need to be used, either, since there is a 1 to 1 relationship between virtual hosts and mounted directories.

[2016-05-06 22:27] davetbo opened #127 "Not working on Centos7"
Hello,

I believe I followed all the instructions correctly.  I had this working properly on Centos6.  However, due to another software incompatibility I'm now switching to Centos7 and I can't get this to work.  Specifically, when I try to mount the folder the mount point ("uploads" in the list below)looks like this:
-rw-r--r--.  1 owner group   28 Jan  8  2012 index.php
drwxr-xr-x. 16 owner group

[2016-05-06 23:02] davetbo commented on #127
Well, I just figured out a work-around because of this other issue:
https://github.com/danilop/yas3fs/issues/120

In my start script I issue
yas3fs --recheck-s3 s3://$BUCKET $MOUNTDIR before issuing the start command.  This seems to work. I'm not sure why the problem exists in the first place, though.  Let us know if you figure it out! :)  Also, thanks for all your hard work on an otherwise great

[2016-05-10 03:55] matthewlehew commented on #126
The answer is yes. :)

[2016-05-10 03:55] #126 closed

[2016-05-12 23:18] ewah commented on #71
not quite yet... it doesn't metadata change notification.

[2016-05-16 14:31] robparrott commented on #112
Also seeing this ...

[2016-05-24 10:29] amy201988 opened #128 "yas3fs sync issues"
i am using the same topology as yas3fs content in their main page .

When i use a touch file command its syncing to s3 , but when use vim the new file is not recognized and same is not copied to s3 .

[2016-05-25 15:00] unv-annihilator commented on #124
Hey @danilop, any possibility of an ETA on when a new version might be pushed to PyPi? Trying to gauge whether I should plan to pull from PIP or if it'd be better to just pull from GitHub for implementing. Currently using the version off PyPi but won't be able to continue using that version due to the Uploads Cache clearing bug.

[2016-06-09 11:03] #128 closed

[2016-06-26 15:34] davetbo commented on #126
One follow-up on this topic:
I am mounting 2 different folders in the same bucket to 2 different mount points:
bucket1/folder1 => /var/www/html/wp-content/uploads
bucket1/folder2 => /var/www/protected-files
I'm doing this from multiple web servers to the same bucket (to sync my wp uploads across my various clustered web servers).

In this instance, can I use the same topic, queue, and cachedir, or

[2016-06-26 15:42] davetbo commented on #111
I haven't tested thoroughly yet, but I got it to start without complaint using ARNs.  Try setting environment variables for AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY before running yas3fs.
export AWS_ACCESS_KEY=ASDFASDFMYACCESSKEYHERE
export AWS_SECRET_ACCESS_KEY=ASDFASDFMYSECRETKEYHERE
yas3fs --command-options-as-you-had-them.
Hope it works out for you.  Note, I'm not on this project, but I stu

[2016-06-28 01:24] malmatheson opened #129 "default_permissions opton?"
Would it be possible to have yas3fs accept the fuse option "default_permissions"?

I have found that while I can easily mount a S3 bucket with yas3fs (many thanks, Danilo!), the mounted filesystem can be accessed and updated by anyone when it's mounted with the "allow_other" option. I want the filesystem security to be the same as for a local filesystem.

The fuse mount option "default_permissions

[2016-08-02 06:29] edi-design opened #130 "SNS topic ARN not found in region"
Hello everyone,

since yesterday morning i am struggling to get yas3fs running in a cluster environment.
Starting yas3fs, he is not able to find my setup SNS topic and i have no idea why.

[code]

[code]

The topic is created, everony is able to publish and subscribe to it.
I just tested a subscription using the aws-cli and it worked perfect.

[code]

I am not sure, what to do next.

Hopefully som

[2016-08-07 12:37] am2605 commented on #130
Hello,

I ran into this problem and I seem to have fixed it by doing the following.

In the IAM Manager, under Permissions > Managed Policies, attach AmazonSQSFullAccess and AmazonSNSFullAccess to the user who you are using to connect.

Does this fix it for you also?

Andrew.

[2016-08-08 07:50] edi-design commented on #130
Hey Andrew,
this actually sovled my problem.

Thank you very much.

Best regards,
André

[2016-08-08 07:50] #130 closed

[2016-09-10 02:35] excalq opened #132 "Support for Anonymous Bucket Mounting"
We'd love to migrate from s3fs to yas3fs, however an important feature to us is support for mounting buckets as anonymous "public" buckets, without credentials. (The bucket may actually be public, or openly accessible via bucket policy for a certain IP range or VPC.)

In our case, the servers which would mount buckets anonymously use them in a read-only capacity.

I'm interested to know whether ya

[2016-10-05 16:19] ollietreend opened #135 "IAM Roles for Tasks"
Hi,

I'm planning to use `yas3fs` inside a docker container, which will be run on top of an [ECS](https://aws.amazon.com/ecs/) cluster. I can see from the README that `yas3fs` supports [IAM Roles for EC2](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html). Whilst I'm not familiar with IAM Roles for EC2, I know that there is an equivalent for docker containers running

[2016-10-11 07:32] dalbani commented on #71
What is the status of S3 Event Notification in `yas3fs`?
I have configured a bucket to send notifications to a SNS topic but it seems that event messages are not properly processed by `yas3fs`.
Here's the log of what happens:

[code]

Is that a bug in `yas3fs` or is it simply a non supported functionality?

[2016-10-11 08:32] danilop commented on #71
It is (still) not implemented.

[2016-10-11 09:17] dalbani commented on #71
@danilop: thanks for your keep response (I'm silly really, @pearcec had just mentioned the same error above...)
Given that this "cluster feature" is the most important feature for me, what options are available to me?
- Try to help implement the functionality: how complex do you evaluate the work to be done?
- Use a workaround: should I manually send a notification via SNS then, once I have made a

[2016-10-11 20:54] Liath commented on #103
In case anyone else came to this issue looking for a solution, I use something like this:
https://www.whaletech.co/2016/04/07/encryption-ephemeral-volumes-with-kms.html

With the yas3fs cache and mount point inside the encrypted partition. This way if the device is stolen I can revoke the key remotely making it (hopefully) impossible to decrypt the partition and gain access to the cache files or A

[2016-10-28 13:56] discreet commented on #96
Has there been any movement on this? It seems that setting the --cache-entries, --cache-mem-size and --cache-disk-size all to 0 still have no effect on disabling the local cache. I understand that the local cache is there for performance but not all use cases dictate that need. This needs to be more flexible and allow the user to disable local caching.

[2016-11-06 04:19] tjgillies opened #137 "period in bucket name looks like it's messing up host"
016-11-05 21:18:32,923 ERROR Uncaught Exception: <class 'ssl.CertificateError'> hostname 'tyler.indieweb.s3.amazonaws.com' doesn't match either of '*.s3.amazonaws.com', 's3.amazonaws.com' <traceback object at 0x10475fab8>

yas3fs s3://tyler.indieweb indieweb

[2016-11-08 12:25] danilop commented on #137
Correct. The SSL certificate provided by AWS supports only one level of
subdomain under s3.amazonaws.com.

On Sun, Nov 6, 2016 at 4:19 AM, Tyler Gillies <notifications@github.com>
wrote:

[2016-11-11 06:30] omnecon opened #138 "Issue when mounting buckets with a dot "." inside."
I tried to mound a bucket: s3://aaa.bbb.ccc with the following command:

yas3fs -d --s3-use-sigv4 --s3-endpoint s3.eu-central-1.amazonaws.com --region eu-central-1 s3://aaa.bbb.ccc --uid 48 --gid 501 /var/www/html/wp-content/uploads3

there is no error in the log:

2016-11-11 06:27:43,839 INFO Version: 2.3.2
2016-11-11 06:27:43,839 INFO s3-retries: '3'
2016-11-11 06:27:43,839 INFO s3-retries-sleep

[2016-11-13 04:42] bnusunny commented on #71
One option is to use a lambda function to convert the native S3 notification to what YAS3FS expects and send to its SNS.

[2016-11-19 16:17] ruffle-b commented on #138
Similar issue for me with bucket names with periods.

"yas3fs s3://hello-banana /mnt/hello" works fine.

"yas3fs s3://hello.banana /mnt/hello" doesn't and produces:

2016-11-19 16:09:17,010 INFO S3 Request Payer: 'False'
2016-11-19 16:09:17,010 INFO Cache path (on disk): '/tmp/yas3fs/hello.banana'
2016-11-19 16:09:17,252 ERROR Uncaught Exception: <class 'ssl.CertificateError'> hostname 'hello.bana

[2016-11-26 08:36] dacut commented on #137
You should be able to fix this by changing the calling format you're using to call S3 -- `https://endpoint/bucket/object` instead of `https://bucket.endpoint/object`.

Looking at
[__init__.py](https://github.com/danilop/yas3fs/blob/master/yas3fs/__init__.py), there are two `boto.connet_s3()` calls around lines 151-153. Add the kw arg `calling_format=boto.s3.connection.OrdinaryCallingFormat`, and t

[2016-11-26 08:51] dacut commented on #135
yas3fs uses the regular Boto 2 library under the hood which has this support baked in.

If you don't specify any credentials (and keep Boto from finding them in the filesystem), Boto will grab the EC2 role credentials from the metadata endpoint automatically (and properly refreshing them when needed). In other words, you shouldn't need to do anything here as long as you've launched your EC2 instan

[2016-11-27 07:31] dacut commented on #137
Turns out this was a tad more complex than I had anticipated, but I threw a pull request your way for this: https://github.com/danilop/yas3fs/pull/139

[2016-11-27 07:32] dacut commented on #138
This is a duplicate of https://github.com/danilop/yas3fs/issues/137 -- see there for the pull request I created for this.

Alternatively, try cloning https://github.com/dacut/yas3fs.git  and run a `sudo python ./setup.py install` to see if that fixes it.

[2016-11-27 07:56] dacut commented on #138
Related pull request: https://github.com/danilop/yas3fs/pull/139

[2016-11-28 12:36] ruffle-b commented on #138
Well done.  On an exhaustive test of mounting one bucket containing a period in it's name the above version works :-)

I'll test more over the coming days but it looks good.

Thanks.

[2016-11-28 20:13] bitsofinfo opened #140 "Discussion about new contributors, status of yas3fs"
Hi all

@danilop, I was added as a contributor on this project along w/ @ewah a long while back but I am no longer able to effectively contribute, review PRs, or participate etc

I do however get notifications and notice a ton of issues being opened, outstanding PR's etc. I'd like to throw out the idea that @danilop add some additional users as contributors so this project does not end up dying du

[2016-11-28 20:15] bitsofinfo commented on #140
@bilts

[2016-11-28 21:14] dacut commented on #140
I'd have to get this approved with my employer first (I work for AWS, but yas3fs is a purely personal interest), but assuming that goes through, I'd be glad to contribute here.

[2016-11-28 21:36] Liath commented on #140
I'd be happy to help with the stewardship of the project.

[2016-12-05 20:15] JochiPochi opened #141 "SNS/SQS Notification system is susceptible to badly formatted messages"
I've observed this on 2.3.2.  When a badly formatted SNS message is sent to a topic, all the yas3fs cluster nodes listening to that topic display a decode error.Then they stop listening to any future SNS messages until yas3fs is restarted.

This makes the notification services brittle. The more publishers to the SNS topic, the more probability of this happening. Specially if some of those are not

[2016-12-07 10:06] danilop commented on #140
This is a great idea! I am being slow even in just participating to this discussion.

Is everybody ok if I add this new 4 contributors?

@dacut
@ruffle-b
@Liath
@bilts

[2016-12-07 16:20] dacut commented on #140
Good by me. Thanks!

[2016-12-12 20:34] bitsofinfo commented on #140
all for it +1

[2016-12-14 00:31] vswaminathan opened #142 "Unable to rename file"
I am unable to rename a file in the mount folder. I get the following message

-rwxrw-rw- 1 myUser myUser 14 Nov  9 14:56 hi.txt
[myUser@ip-10-0-0-124 incoming]$ mv hi.txt hello.txt
mv: cannot move ‘hi.txt’ to ‘hello.txt’: No such file or directory

[2016-12-20 14:41] cyphrsonic commented on #124
We are also being affected by this issue when installed via PIP. A new version would be great.

[2017-01-13 07:25] dacut commented on #140
Did this take place? I did get approval on my end, so that should be squared away. Thanks, and happy new year!

[2017-01-13 09:59] danilop commented on #140
I just added them - I think they need to accept:

@dacut
@ruffle-b
@Liath
@bilts

Welcome to the project and shame on me for being so slow!

[2017-01-13 10:33] dacut commented on #140
Got it now. Thanks!

[2017-01-16 10:38] ollietreend commented on #140
It's great to see some fresh activity on this project!

It would be a huge shame if this project were to die. It has some killer features which just don't exist in alternative tools – e.g. multi-node awareness via SQS/SNS.

Thanks to all contributors past & present for their work on this.

[2017-01-16 12:47] ollietreend opened #143 "New AWS region: eu-west-2"
Hi,

I'm trying to use `yas3fs` with the new AWS region `eu-west-2`.

Unfortunately `yas3fs` fails to start, with the error message:

[code]

It looks like this is caused due to the new region not existing in `boto.s3.regions()`'s list of regions. From [\_\_init\_\_.py lines 848-849](https://github.com/danilop/yas3fs/blob/774426041850155185ce64fb1746a3daedf61230/yas3fs/__init__.py#L848-L849):

[co

[2017-01-16 13:03] reiven commented on #143
Hi @ollietreend looks like you're running an older boto version

[RegionInfo:us-east-1,
 RegionInfo:us-west-1,
 RegionInfo:cn-north-1,
 RegionInfo:ap-northeast-1,
 RegionInfo:ap-southeast-2,
 RegionInfo:sa-east-1,
 RegionInfo:ap-southeast-1,
 RegionInfo:ap-northeast-2,
 RegionInfo:us-west-2,
 RegionInfo:us-gov-west-1,
 RegionInfo:ap-south-1,
 RegionInfo:eu-central-1,
 RegionInfo:eu-west-1,
 Region

[2017-01-17 17:28] ollietreend commented on #143
Thanks @reiven! Upgrading `boto` did the trick.

I'm not familiar with python, so didn't know it was so simple to fix.

[2017-01-17 17:28] #143 closed

[2017-01-17 17:46] ollietreend opened #144 "Version 2.3.5 is not available on pip"
Hi,

Please can we have version 2.3.5 made available on pip?

Currently [pip has the latest version as 2.3.2](https://pypi.python.org/pypi/yas3fs):

[code]

2.3.5 adds support for sigv4, which I need in order to use yas3fs with one of the newer AWS regions.

As an aside: it'd be great to get a new release of yas3fs since there are 14 changes in master since 2.3.5. But I'll settle for having 2.3.5

[2017-01-17 18:23] ollietreend commented on #135
Thanks @dacut – sorry I missed your reply, I've only just seen this.

[IAM Roles for Tasks](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-iam-roles.html) (used by the Elastic Container Service) are different to [IAM Roles for EC2](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html).

They essentially do the same thing, but are implemented differently

[2017-01-17 18:26] ollietreend commented on #142
@vswaminathan What permissions does your IAM user have?

Have you been able to rename files using a different S3 client with the same IAM credentials?

[2017-02-28 01:32] joshuatalb commented on #138
@ruffle-b did you get around to testing it? very interested to know if this works -- thanks!

[2017-03-05 15:17] timor-raiman opened #146 "Can yas3fs co-exist with other s3 writers?"
Hello,
After configuring yas3fs in single-node mode (without SNS) on a bucket with --no-metadata, I'm seeing that operations on the same bucket performed through the AWS console (eg, renames, deletes, etc) are not reflected in the mounted filesystem.
I know it is possible to configure the bucket to emit events to an SNS topic or an SQS queue.
Does yas3fs support such configuration?

[2017-03-10 19:57] Liath commented on #144
We'll need @danilop for this. Seems like it would be rude to ask PyPi support to add peeps as maintainers.

[2017-03-10 20:42] Liath commented on #141
Just created a PR for this. Thanks for reporting it. :)

[2017-03-10 20:44] bitsofinfo commented on #144
agreed can @danilop please grant all the contributors on this project the proper access to publish PyPi releases?

[2017-03-10 20:44] Liath commented on #138
Merged, thank you for reporting.

[2017-03-10 20:44] #138 closed

[2017-03-10 21:04] Liath commented on #137
@tjgillies Could you pretty please test using latest?
[code]
pip might need sudo or to pass --user, idk your situation

[2017-03-10 22:06] #141 closed

[2017-03-14 15:11] bitsofinfo commented on #144
@danilop ?

[2017-03-14 18:28] Liath commented on #127
Are you trying to mount a bucket over a folder that already has things in it?

[2017-03-14 19:56] davetbo commented on #127
Sorry, I posted  this 10 months ago and I didn't even remember the issue
until I reread the post.

I switched to RioFS instead and it works great.

Best,
Dave

On Mar 14, 2017 11:29 AM, "John Jones" <notifications@github.com> wrote:

[2017-03-14 20:12] #127 closed

[2017-03-17 13:10] danilop commented on #144
I'd like to see #147 merged before updating PyPI...

[2017-03-17 15:32] fire commented on #144
Should be able to force install using sudo pip install --upgrade git+https://github.com/danilop/yas3fs.git . You may also want to force a particular commit.

[2017-03-17 17:36] #146 closed

[2017-03-17 17:39] Liath commented on #144
@danilop ![Your wish is my command](http://3.bp.blogspot.com/-JmnL_o45PCE/UCn4__GMZoI/AAAAAAAAAPU/0YiLlHKrW94/s150/G%25C3%25AAnio%2Bda%2BLampada.gif)

[2017-03-30 09:09] bjoerndalen commented on #88
Hello,

We are facing the same issue. Could someone provide a solution/workaround for this?
Thanks.

[2017-04-10 19:45] mauricoder opened #149 "Trouble mounting a bucket"
Hello

I'm getting an error while trying to mount a bucket.

`ERROR Uncaught Exception: <class 'socket.gaierror'> [Errno -2] Name or service not known <traceback object at 0x7fb563a4a8c0>
`

I installed yas3fs on a fresh **Amazon Linux AMI release 2016.09**, I followed next steps to install:

[code]

Then I created a public bucket (to be sure is not a permissions problem) and a folder to mount it

[2017-04-10 19:56] dacut commented on #149
Is that the actual command you used? If so, get rid of the `http://` bit:

`yas3fs s3://[my-bucket-name].s3.amazonaws.com/ web/uploads`

[2017-04-10 23:54] mauricoder commented on #149
Thanks very much for the help!

Don't know how the http:// got there..

Just trying again... if I do

`yas3fs s3://[my-bucket-name].s3.amazonaws.com/ web/uploads`

I get:

`ERROR Uncaught Exception: <class 'ssl.CertificateError'> hostname 'yoreparo-staging-uploads.s3.amazonaws.com.s3.amazonaws.com' doesn't match either of '*.s3.amazonaws.com', 's3.amazonaws.com' <traceback object at 0x7f810e9aea28

[2017-04-11 03:43] Liath commented on #149
Please try again with the foreground and debug flags, something like
`yas3fs -fd s3://[my-bucket-name] web/uploads`. You may need to `umount
/var/app/current/web/uploads` first.

On Apr 10, 2017 4:54 PM, "Mauricio Etcheverry" <notifications@github.com>
wrote:

Thanks very much for the help!

Don't know how the http:// got there..

Just trying again... if I do

yas3fs s3://[my-bucket-name].s3.amazo

[2017-04-11 12:13] mauricoder commented on #149
Thanks very much!

With the debug turned on I could saw it was a permissions problem over each object. I got this kind of ouptput:

[code]
So I made objects public and the problem was fixed.

I'll keep digging as I don't want this bucket or objects to be public.

This is running on Elastic Beanstalk. Should yas3fs be able to access the bucket if the **aws-elasticbeanstalk-service-role** has a Role

[2017-04-11 12:25] mauricoder commented on #149
Fixed! It was not **aws-elasticbeanstalk-service-role** that needed the permissions, but **aws-elasticbeanstalk-ec2-role**

😄

[2017-04-11 14:46] ldrolez commented on #137
Thanks it works!

[2017-04-11 15:10] Liath commented on #149
No problem

[2017-04-11 15:10] #149 closed

[2017-04-11 15:52] bitsofinfo commented on #124
@danilop ?

[2017-04-11 15:53] bitsofinfo commented on #144
#124

[2017-05-03 17:02] ollietreend opened #150 "yas3fs deletes the /tmp directory"
Hi,

I've discovered a specific set of conditions under which the entire /tmp directory is deleted when yas3fs cleans its cache.

## How to recreate

1. Start with an empty `/tmp` directory.
2. Run yas3fs and add a new file to the mounted directory.
    * The local filesystem cache is created at `/tmp/yas3fs/...`
3. Delete the file you just added to the mounted directory.
    * yas3fs removes that

[2017-05-03 18:41] dacut commented on #150
<sigh> This isn't the first time I've seen os.removedirs() misused. It's an unintuitive API.

[2017-05-05 11:01] janibashamd opened #151 "No s3-endpoint option to use Openstack Swift"
Hi Team,

I tried to use yas3fs to mount Swift3 bucket locally but found no S3-endpoint option in yas3fs manual.
YAS3FS read me says this option is available. Please check and let me know if we can use S3 end-point other than AWS/GCP..

If yes, just let me know the steps.
FYI - I installed S3 middleware over Openstack Swift.

Thanks in advance.

[2017-06-06 21:51] Liath commented on #151
Seems like you should be able to pass the endpoint as `--s3-endpoint url`. I have no way of testing this though, can you post an endpoint I can test against?

[2017-06-06 21:59] Liath commented on #150
Would [`shutil.rmtree`](https://docs.python.org/2/library/shutil.html#shutil.rmtree) be the correct choice here?

[2017-06-21 15:40] longwave opened #152 "IAM policy incomplete for versioned buckets"
I am happily using yas3fs with the suggested IAM policy, but it stopped working when I enabled versioning on a bucket. In debug mode I could see log entries such as:

[code]

I suspect this may be related to https://github.com/boto/boto/issues/3219 and that the IAM policy needs to include `"s3:GetObjectVersion"` though I fixed this for the time being by allowing all permissions on my bucket. If I

[2017-06-22 11:34] longwave commented on #152
Re-tested this today with tighter permissions and it seems `s3:GetObjectVersion` is the only additional permission needed for yas3fs to work with versioned buckets.

[2017-06-23 10:40] #152 closed

[2017-07-06 19:44] MMichael-S opened #154 "Does not yas3fs support china BJS region(cn-north-1) yet?"
AWS use different S3 endpoint name for china BJS region.
Does not yas3fs support china BJS region(cn-north-1) yet?

[2017-07-10 09:23] rdewaele commented on #144
@danilop Do you have any updates on this? #147 appears to be merged, but 2.3.2 still on PyPI. We are also hitting #104 and would like to update.

Meanwhile I have started testing a workaround, which involves explicitly setting a cache directory upon mount, and a daily cronjob to find old files and delete them: `@daily find /path/to/dedicated/cache/dir -type f -not -atime -14 -exec rm '{}' \;`

( W

[2017-07-21 00:18] crudmucosa commented on #137
I think I am having the same issue:

yas3fs picturesofus.net picturesofus
2017-07-20 19:17:06,450 INFO Version: 2.3.2
2017-07-20 19:17:06,450 INFO s3-retries: '3'
2017-07-20 19:17:06,450 INFO s3-retries-sleep: '1' seconds
2017-07-20 19:17:06,450 ERROR The S3 path to mount must be in URL format: s3://BUCKET/PATH, use -h for help.
cad-bane:picturesofusS3buckets fenris$ yas3fs s3://picturesofus.net p

[2017-07-25 23:10] jayavanth commented on #96
@discreet did you try using --recheck-s3 option?

[2017-07-28 17:57] danilop commented on #144
I just uploaded version 2.3.5 on PyPI. I also updated the _version.py file. Let me know if that works. Thank you all for your patience.

[2017-07-29 02:35] crudmucosa commented on #137
Newest version works fine! Thanks much.

[2017-07-31 16:04] #144 closed

[2017-07-31 22:30] #124 closed

[2017-08-15 00:59] mcassaniti opened #155 "Support for file locking"
I'm curious if YaS3fs could be extended to support file locking. FUSE does support  "POSIX advisory record locking", and I was wondering if it's **feasible** to extend the code to support this. My thoughts are:

  1. Each node participating in a cluster would need to store the locked state of a file. This would simply be new values in the current cache code, and would need to store enough informat

[2017-08-15 08:26] dacut commented on #155
It's not trivial, but it is doable in theory. Devil -- as it always is with distributed locking -- is in the details. I've seen a few too many projects design themselves into a corner and ultimately end up abandoned. (Paxos is hard to get right. Really, really, hard...)

Rather than try to reinvent the wheel here, I would look at leveraging another system that already does some of this. Zookeeper

[2017-08-15 22:56] mcassaniti commented on #155
If we're going to that level, then my thoughts on options are:
1. Use an existing Raft implementation, there's a few Python libraries available after doing a quick GitHub search. Since the library is independent of the transport, it should be possible to use SQS or the HTTP listener for a transport layer.
1. Use etcd from CoreOS as an established Raft server, and add options to YaS3fs for using et

[2017-08-15 23:14] dacut commented on #155
Hadn't thought about etcd, but it does sound like an interesting approach. I discovered Raft last night as I started thinking about "How do folks do Paxos these days?", and I started reading the paper behind it (but then had to get back to Real Work™). John Ousterhout... ah, the good ol' Tcl days.

One constraint: depending on your design, your underlying locking mechanism may need to support fanc

[2017-09-03 15:34] cirrusnine opened #156 "ERROR SNS topic ARN not found in region 'us-east-1' , use -h for help."
When the option '--aws-managed-encryption' is invoked, the following permissions were required in addition to the standard documented ones  or else the error "ERROR SNS topic ARN not found in region 'us-east-1' , use -h for help." was thrown:

      {
            "Sid": "kmskeypermissions",
            "Effect": "Allow",
            "Action": [
                "kms:Decrypt",
                "kms:E

[2017-09-27 00:18] duanemalcolm opened #157 "Mounting DigitalOcean spaces"
Hello,

I'm trying to use yas3fs to mount the new DigitalOcean object storage called Spaces. Has anyone had any success with this?

Cheers, Duane.

I run the command:
`yas3fs s3://test /home/spaces --s3-endpoint nyc3.digitaloceanspaces.com -d`

When I list the contents of the directory:
[code]

I get the following output upon trying to mount:
[code]

[2017-10-17 00:13] computergeek125 commented on #37
Any progress on this?  I'm looking into installing this on my NAS.

[2017-11-22 11:22] starinacool opened #158 "default object storage class"
I did not fing the option to set storage class fpr uploaded files.

Are there any requests for it or I'm the first one?

[2017-11-22 12:09] starinacool opened #159 "AttributeError: class Queue has no attribute 'Empty'"
Installed with command:

pip install https://github.com/danilop/yas3fs/archive/master.zip

mount like this:

yas3fs --no-metadata -df --topic arn:aws:sns:eu-central-1:459171214154:est --region eu-central-1 --queue \`hostname\` s3://mshokfiles/ /mnt/s3

Got this in Debug log:

[code]
Everything is fine with default pip version 2.3.5

[2017-11-22 20:56] paolobarbolini commented on #157
I tried it on a bucket in ams3 and it seems to be working perfectly.

[2017-11-22 21:51] duanemalcolm commented on #157
Thanks. I just got it working for S3FS so I'll give yas3fs another go. It should work. This reply was timely because it reminded me of YAS3FS. Cheers.

[2017-11-22 22:17] dacut commented on #158
I don't believe it exists currently.

What storage class are you trying to use? Note that Reduced Redundancy Storage is effectively deprecated. While it's available, the [prices for RRS](https://aws.amazon.com/s3/reduced-redundancy/) are higher than that for [standard storage](https://aws.amazon.com/s3/pricing/).

I could see a case for infrequently access storage (S3-IA), though you need to be ca

[2017-11-22 22:20] dacut commented on #151
Looks like this has been solved. If not, please feel free to reopen.

[2017-11-22 22:20] #151 closed

[2017-12-08 18:02] feoff3 opened #161 "Windows port?"
Hi everyone,

**Intro**

I wonder if there is a demand into porting YAS3FS to Windows?

Porting the FS will let workstation and servers to access S3 data as regular files. The FS may be used by users to browse their S3 drives, and Windows server software running inside AWS to store their data e.g. logs and backups in the cloud storage reducing the overall headache related to AWS volume management.

[2017-12-08 18:10] Liath commented on #161
I've thought about doing it to for kicks but I wouldn't want to maintain it. Especially with WSL being generally available, it just seems like adding unnecessary complexity.

If you do look into this, I've saw another FUSE for Windows you might try. https://github.com/dokan-dev/dokany

[2017-12-09 04:20] feoff3 commented on #161
Well, I have some doubts whether WSL will have FUSE built-in. FUSE in Linux is a kernel module that lets user space code to implement FS logics. WSL will not let install FUSE kernel module as WSL emulates Linux for user realm, not kernel.

[2017-12-09 07:57] Liath commented on #161
Huh, how about that. I just assumed they ported FUSE without checking, my bad.
I use yas3fs from a nix instance that shares the mounted bucket as a CIFS share which is accessible by basically everything. Perhaps that could work for you? Seemed easier to me at least.

[2017-12-24 02:19] zicklag opened #162 "Mount Non-Amazon S3 Bucket"
I would like to be able to use yas3fs to mount an S3 bucket that is not hosted by Amazon such as a [Minio](https://minio.io) server bucket ( a server that implements the S3 protocol, but isn't on amazon.com ). Looking through the commandline help, I haven't been able to find a way to specify a different S3 server.

[2017-12-24 08:04] timor-raiman commented on #162
Have you tried using the BOTO_ENDPOINTS or ENDPOINTS_PATH environment variables? Haven’t tried myself.. but it might work…

From: Zicklag [mailto:notifications@github.com]
Sent: Sunday, December 24, 2017 04:20
To: danilop/yas3fs <yas3fs@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [danilop/yas3fs] Mount Non-Amazon S3 Bucket (#162)

I would like to be able to use yas3

[2017-12-24 20:25] zicklag opened #163 "Cannot Mount Bucket Paths with Capitol Letters"
I am trying to mount a directory in an S3 bucket that starts with a capital letter, but yas3fs mounts the path on the bucket with a lowercase letter. I am running the command: `yas3fs s3://my-s3-bucket/Photos /my/mount/point`. The command successfully mounts the bucket, but instead of mounting `Photos` with a capital, it mounts `photos`.

[2018-01-11 15:59] jyaworski commented on #135
I'm running into something similar on an EC2 instance:

[code]

[This link](https://forums.aws.amazon.com/thread.jspa?threadID=222843) says to make use of `STS.Client.get_caller_identity`, which produced something for me when I ran it:

[code]

[2018-02-03 13:52] feoff3 commented on #161
Hi there again, I created a small port for Windows.

Feel free to test it out (see 'On Windows' entry in README.md)
https://github.com/feoff3/yas3fs

Feel free to check it out.
I will create a pull request for the feature as soon as get confident it doesn't break anything in upstream.

[2018-02-07 23:23] jamebus opened #165 "Needs s3:GetBucketLocation if endpoint isn't specified"
Hi all. Thanks for a very interesting project!

I found a small documentation error that I'd like to pass along. As it turns out you'll need s3:GetBucketLocation permissions if you don't specify the S3 endpoint to use. self.s3_bucket.get_location() will throw an exception otherwise.

[2018-03-14 22:11] CJStadler opened #166 "Eventual Consistency"
Does yas3fs do anything to deal with S3 only providing eventual consistency for read-after-write?

For example, say a node receives an SNS notification that a file has changed and so invalidates its cache. If the node then requests the file from S3 the new version of the file is not guaranteed to be returned. If the old version of the file is then cached it will not be invalidated until the file i

[2018-03-21 16:23] jazzl0ver commented on #142
The latest sources do not have such an issue:
[code]

[2018-03-21 16:59] jazzl0ver commented on #37
I've added /etc/fstab support. While my pull request is checking, you may use the version from my repo: https://github.com/jazzl0ver/yas3fs

[2018-03-21 17:01] jazzl0ver commented on #135
While my pull request is checking, you may use the version from my repo: https://github.com/jazzl0ver/yas3fs. It's fixed there.

[2018-03-21 17:02] jazzl0ver commented on #165
Fixed in PR https://github.com/danilop/yas3fs/pull/167

[2018-03-21 17:59] Liath commented on #166
I don't believe we do, it would probably behoove us to send the new ETag in change alerts and keep a lisr of list of those changes so we can poll headObject until S3 has synchronized.

PRs are welcome :)

[2018-03-23 15:12] jazzl0ver commented on #150
it's fixed

[2018-03-27 15:19] jazzl0ver opened #169 "CPU cycles while idling"
Hi,

I'm wondering if YAS3FS taking CPU cycles while idling is normal?
[code]
There's absolutely no file system access.
strace shows a huge number of futex/gettimeofday/select system calls: https://paste.ee/p/TiEUC

[2018-03-27 22:25] jdhayes commented on #132
We are also trying to do something very similar.
Bucket policy for access control, and EC2 instances are mounting as read-only.
We are also using the requester-pays option.
This feature would be really great.
I am willing to test and implement patches if anyone has anything?

[2018-04-07 05:46] dustinkerstein commented on #81
@shafqatevo were you able to get ffmpeg working within lambda for larger files?

[2018-04-23 02:28] YoungCP commented on #37
Saw it was merged.

I suggest an alternative (incompatible) mounting script;
[code]

[2018-04-24 14:29] longwave opened #171 "FUSE permission handling has changed, --no-default-permissions is undocumented"
In https://github.com/danilop/yas3fs/commit/32fe47282a49f6e5085d9e02541b1be5a58bd770 a quite significant change was made to the FUSE setup call. This setting apparently means that `chmod` on yas3fs mounted directories and files now returns EPERM instead of failing silently. This change can now be undone with the `--no-default-permissions` switch but this is not documented anywhere, I had to discov

[2018-05-18 12:52] dentm42 opened #172 "Include either mountpoint or bucket name in cache-status messages"
For systems that mount more than one S3 bucket, it'd be helpful if the status messages would include either the bucket name or the mountpoint (probably mountpoint would be preferred) in the status message sent to the logger.  It's not so bad in the yas3fs logfiles, but there is no way to differentiate instances in the system logfiles.

[2018-05-18 12:54] dentm42 opened #173 "--cache-check N seems not to work"
It seems no matter what I set N to in the --cache-check parameter, it still logs a message every 5 seconds in the system logger.  Is there a way to reduce that frequency?

[2018-06-01 03:01] dgagnon opened #174 "EFAULT bad address in system call argument"
We are having some issue with long running yas3fs mounts.  Our node app sometime cannot read a file and the error is :

It also happened today with grep:

Here is the log entries around for when I ran the recursive grep:

/var/log/yas3fs-user.log-Dummy-20 2018-06-01T02:39:33.958 DEBUG release '/00/25/0025445e1b9017eabd162a121a6c9ed8.1519741804.jpg' '0' 'None'
/var/log/yas3fs-user.log-Dummy-29 2018

[2018-06-25 16:56] jazzl0ver commented on #174
I have the same issue. Please, help!
CentOS 6 running in AWS
Linux use1-qa-2 2.6.32-696.23.1.el6.x86_64 #1 SMP Tue Mar 13 22:44:18 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
Python 2.7.13
yas3fs 2.4.2 (https://github.com/jazzl0ver/yas3fs; pull requests are awaiting for your confirmation)
Fuse 2.9.3
[code]

[2018-07-25 13:47] jazzl0ver commented on #174
Here is the strace output:
[code]
This is the part of the code which fails:
[code]
Any ideas how to fix that?

[2018-07-25 16:02] jazzl0ver commented on #174
@dgagnon I've made a quick workaround. please, test it if you can

[2018-07-25 23:34] dgagnon commented on #174
@jazzl0ver I am not convinced we have the exact same issue.  The error code is different.  I get EFAULT (bad address) and not ENOENT (No such file or directory).  I really appreciate you looking into this though :p

I am reasonably certain that the issue has to do with fuse-libs more than yas3fs, but I have been unable to pin point the root cause yet.  Since I am unable to replicate the issue reli

[2018-08-09 17:05] lracicot opened #175 "ca-central-1 not supported?"
When I try to use my S3 bucket I get this error:

[code]

My bucket is actually in that region. Any idea ?

[2018-08-16 13:19] jdgiotta opened #176 "Feature: File Level Encryption"
Each file can be encrypted on S3 at rest
Each file can be decrypted on read

[2018-08-21 19:25] jayavanth opened #177 "Mounting public buckets"
How can I mount public buckets without using AWS credentials?

When I try to mount it, I get this:
[code]

[2018-09-18 17:16] #176 closed

[2018-10-02 02:10] bitsofinfo commented on #140
I'd add u as a member but only @danilop can do that, and I don't have any time for this project.

Unless @danilop responds, you might just want to fork it along with other interested parties and create a new official version in another project, complete w/ releases, new builds etc.

[2018-10-02 10:15] jazzl0ver commented on #140
Hi @danilop Thanks for the invitation!

[2018-10-02 12:03] jazzl0ver commented on #14
Faced the same issue during shutdown. Things stopped here:
[code]
@danilop, what did you mean by "short time-out"? Which timeout value should be increased?

[2018-10-02 13:32] tonnydourado commented on #14
Just so you know, I'm not using yas3fs anymore, so, can't help debugging or confirming stuff anymore. Good luck, though =)

[2018-10-02 13:48] jazzl0ver commented on #14
@tonnydourado did you find a substitution or just you don't need it anymore?

[2018-10-02 15:11] tonnydourado commented on #14
@jazzl0ver Not working in the project where I used it anymore.

[2018-10-04 12:02] jazzl0ver commented on #140
@danilop what is the best way to update https://pypi.org/project/yas3fs/ ?

[2018-10-05 17:29] jazzl0ver commented on #14
This happens b/c unmounting a fuse device does not wait for the completeness. This is a known issue: https://github.com/libfuse/libfuse/issues/1

[2018-10-09 11:29] vimmisinghani commented on #81
@bitsofinfo how to set no disk cache

[2018-10-09 17:09] #14 closed

[2018-10-09 17:17] jazzl0ver commented on #156
Thanks for sharing! Added a link to this issue in the wiki

[2018-10-09 17:17] #156 closed

[2018-11-08 21:42] pjebs opened #183 "Digital Ocean compatible?"
Digital Ocean spaces claims to be S3 compatible in terms of their API and how it can be interfaced by external clients. Should yas3fs work in theory?

[2018-11-27 09:56] nodje commented on #183
I'm myself testing these aspects. `yas3fs` works but `s3fs` doesn't.
You can test a bucket with this:

`AWS_ACCESS_KEY_ID=<key> AWS_SECRET_ACCESS_KEY=<secret> yas3fs -df s3://<bucket> <local-folder>/ --s3-endpoint <region>.digitaloceanspaces.com`

`-df` is the debug mode

Careful, `pip install ya3fs` only works with Python2.x

[2018-11-27 09:59] nodje opened #184 "Unsupported UTF-8 characters"
I get this error in debug mode when trying to list folder content containing file with Chinese char.:
[code]
It's odd because i've been able to create and subsequently read folder/file with name containing Chinese characters.

[2018-11-27 10:03] jazzl0ver commented on #183
@nodje the version from pip is outdated

[2018-11-27 10:32] nodje commented on #183
Thanks @jazzl0ver , a probably very useful information for my other problems!

[2018-11-27 14:02] nodje commented on #183
Jeez, I can't believe how much better and faster the master branch HEAD works compare to the  pip version.
This is really decently fast on a computer located in the same region as your Spaces on DO, even with directories containing lots of sub elements.

[2018-11-27 14:13] jazzl0ver commented on #183
@danilop , would you please update the pip version or give me access to the repo?

[2018-12-04 06:12] JoyceBabu commented on #161
@feoff3  How is the windows port working? Are you still planning to send a PR?

[2019-02-12 14:17] mojibake-umd commented on #129
In our case, only running yas3fs on a single server, not using permissions stored in s3, used bind mounts to control access to prefixes in bucket.

[2019-05-30 05:41] dt-iland commented on #161
@feoff3 I found an error in __init__.py on line 3335 in your fork. Are you still maintaining it by chance?

[2019-05-30 06:40] feoff3 commented on #161
Cool.
 Well, I'm not actively developing at the moment.
It worked in some of my tests but I didn't have a chance to test it more so
to release it as a merge request one way or another.
Maybe I will have my hands back on it this year.

чт, 30 мая 2019 г., 8:41 Dave <notifications@github.com>:

[2019-06-05 23:02] echyam opened #185 "Trouble Mounting S3 Bucket Inside Docker Container"
Hello

I can mount a bucket within an ubuntu EC2 that has an IAM role assigned to it.  But when I try to create a docker container hosted by the same EC2, I am unsuccessful.

I copied the steps from README into both my Dockerfile (also tried entrypoint):
[code]

And then to mount
[code]

This is my output:
[code]

I know it is not an AWS credentials error, because I can use the awscli to look insi

[2019-06-06 10:30] jazzl0ver commented on #185
you need to load fuse module inside your docker container:

i don't know how to do that, but i'm sure google does

[2019-06-06 13:36] echyam commented on #185
I was trying to run the container within another service, and I read on stackoverflow that the containers have to be run with privileged mode with `docker run --privileged <image>`.  For some reason that service wasn't allowing it, but a docker container outside the service was fine, so it's not an issue with yas3fs. Thanks!

[2019-06-06 13:36] #185 closed

[2019-07-04 13:36] omkark95 commented on #135
This worked like a charm. Thanks!

[2019-10-03 09:30] Aeroxander commented on #135
@jyaworski I have the exact same error, did you find a fix?

[2019-10-03 10:03] jazzl0ver commented on #135
this should have been fixed. what version are you using?

[2019-10-03 10:44] Aeroxander commented on #135
@jazzl0ver It should be yas3fs 2.3.5, I just started using it a month ago. Locally I don't have this issue but on AWS Batch (what uses ECS) I do.

[2019-10-03 11:10] jazzl0ver commented on #135
the latest version is 2.4.6

[2019-10-03 11:12] Aeroxander commented on #135
Ah ye I just remember I got an error during the install, it seems like it install an older version then.
Think I have this issue https://github.com/danilop/yas3fs/issues/36

[2019-10-03 11:46] jazzl0ver commented on #135
you need to use python2.7

[2019-10-03 21:36] Aeroxander commented on #135
Actually I do, I just made it work with installing setuptools:

pip just installs an older version..

[2019-10-04 09:25] jazzl0ver commented on #135
Yeah, I've requested access to fix it long time ago (https://github.com/danilop/yas3fs/issues/140) - but nobody cares :(

[2020-04-19 05:26] PenelopeFudd opened #186 "MacOSX 10.15.4 makes yas3fs read-only?"
Hi;

Found out that using OSXFuse to mount things in the /tmp directory doesn't work:
* https://github.com/osxfuse/osxfuse/issues/690
While testing that, I found that if I mounted things in my home directory, they would work again.

...except for yas3fs:
[code]

It looks like MacOSX has changed something (probably in the name of security), and broke yas3fs.

Sigh.

Hope this report helps!

[2020-04-21 09:20] guss77 commented on #36
Just had the same issue - was the merged version released?

[2020-04-21 09:33] jazzl0ver commented on #36
The latest version is on github only

[2020-06-16 06:29] jnewbigin opened #187 "Broken package in pypi"
Hi.
Been using yas3fs for a while now.
I can no longer pip install it on Python 2.7. That was always going to happen.
[code]
But I can't pip install on Python 3.6 either.
[code]

It looks like version 2.3.6 should work but pypi only has version 2.3.5.
https://pypi.org/search/?q=yas3fs

It is possible to get the new version published to pypi?

Thanks.

[2020-06-16 08:34] jazzl0ver commented on #187
It's not longer available thru pip. The doc is outdated, use git clone instead

[2020-06-16 08:34] #187 closed

[2020-09-11 08:10] fredbcode commented on #162
I'm also tryng to play with the popular minio, without success

endpoints_path is ineffective and boto_endpoints raise an exception

export BOTO_ENDPOINTS=192.168.1.250
or
export BOTO_ENDPOINTS=http://192.168.1.250

2020-09-11 08:09:25,033 ERROR Uncaught Exception: <type 'exceptions.IOError'> [Errno 2] No such file or directory: '192.168.1.250' <traceback object at 0x7fa57280ccb0>
None

No connect

[2021-01-06 19:36] grinevri opened #188 "/etc/fstab support for ubuntu 18.04"
I tried to follow instructions from the `/etc/fstab support` section to mount yas3fs on Ubuntu 18.04 after reboot: It says:
`# Put contrib/mount.yas3fs to /usr/local/sbin and make the symlink`
But there is no file mount.yas3fs in the contrib folder.
These are the only files there:
`
mount.yas3fs.amzn1
mount.yas3fs.centos6
`

Is there any way how I can mount yas3fs on Ubuntu 18.04 after reboot?

[2021-01-11 10:41] jazzl0ver commented on #188
You need to create your own mount.yas3fs script for your OS (Ubuntu). You may use one of the supplied mount scripts as a base.

[2021-01-13 16:10] j26w opened #189 "Big Sur compatibility?"
Hi, since updating to Big Sur starting yas3fs causes my machine to lock up (spinning pin wheel of death and mostly unresponsive). Should this work in Big Sur or is it me? I've had a few random issues with other apps upgrading so it might be on my end. Here's my bash script:

`#!/usr/bin/env bash

set -e # always immediately exit upon error

export AWS_ACCESS_KEY_ID=ABCDEFGHIJKLMNOP
export AWS_SECR

[2021-01-13 16:17] jazzl0ver commented on #189
I don't have Mac, so can't test. Sorry.

[2021-01-13 16:22] j26w commented on #189
Okay. Thanks for the quick reply.

[2021-04-02 15:33] mojibake-umd opened #191 "Please tag and push new versions to pip"
@danilop

Please tag and push new versions to the pip packaging system.
It looks like there has been several fixes merged  into master since the lastest pip released version 2.3.5.
It would be very appreciated to have this completed.

Currently using with puppet module https://forge.puppet.com/modules/pcfens/yas3fs to install,
which currently only supports installing via pip. I will see about writ

[2021-07-02 18:45] mojibake-umd opened #192 "Pip install no longer working"
`pip install yas3fs`
On fresh up to date RHEL7.9 pip install no longer working.
Cleaning up...
  Removing source in /tmp/pip-build-GQarc7/yas3fs
Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-GQarc7/setuptools/
Exception information:
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/pip/basecommand.py", line 215, in main
    status = self.ru

[2021-09-22 13:46] DavidGarciaCat opened #193 "Unable to `pip install yas3fs` on Ubuntu server"
Hey there,

I am getting the same output either with `sudo` and without it:

[code]

I guess this is related to #191 and #192 but I can't see any activity on this repo since around half a year ago by now?

Cheers,

[2021-09-22 14:57] jazzl0ver commented on #193
pip is no longer supported. install using git clone

[2021-09-22 14:57] #193 closed

[2021-09-22 15:02] DavidGarciaCat commented on #193
I'm not used to python and the readme does not have a step-by-step guide

Can you please tell me what commands I should use?

[2021-09-22 15:04] jazzl0ver commented on #193
Locate CentOS section in the readme

[2022-02-13 12:53] HaleTom opened #195 "Backblaze B2 S3 API"
Can this be made to work with [Backblaze's B2 S3 API](https://www.backblaze.com/b2/docs/s3_compatible_api.html)?

[2022-02-17 12:12] jazzl0ver commented on #195
yas3fs is not under active development right now. so, most chances it won't be implemented. however, if it's S3 compatible, it might work out of the box

[2022-07-18 18:34] mojibake-umd opened #196 "Undocumented requests package version requirement"
I will try to make a more detailed issue later.

Summary.
A newer version of urllib3 than is provided by RHEL7 yum package repos is required.
yum version 1.10.2
don't know when breakage introduced,
but at least latest urllib3 package via pip works
1.26.10

When I say works...If urllib3 is too old the yas3fs service will fail to start with error like

Jul 18 13:57:02 sftp.it-eng-webhosting.aws.umd.

[2022-07-18 19:01] mojibake-umd commented on #196
Actually, in my case a mismatch of vendor (RHEL yum) provided pip modules and pip provided modules were causing issue.
Uninstalling pip provided boto, botocore, urllib3, requests and reinstalling they via yum worked.

[2022-07-19 10:53] jazzl0ver commented on #196
There's a special warning in README regarding the pip installation:

[2022-07-19 10:53] #196 closed, assigned to nobody